In [505]:
import numpy as np
import pandas as pd
import os
import fnmatch
from scikit_posthocs import posthoc_dunn
import scikit_posthocs as ph

In [506]:
workspace = '/home/phnarloch/Documentos/Source/sampling-covid-main'

column_names = ['run',
                'accuracy_score',
                'f1_score',
                'f1_score_macro',
                'f1_score_micro',
                'precision_score',
                'roc_auc_score',
                'recall_score',
                'balanced_accuracy_score',
                'specificity',
                'sensitivity',
                'TN',
                'FP',
                'FN',
                'TP',
                'DOR',
                'LR_P',
                'LR_N']

methods = {'ADASYN': 'ADASYN-RESULTADOS',
           'ROS': 'ROS-RESULTADOS',
           'RUS': 'RUS-RESULTADOS',
           'SMOTE': 'SMOTE-RESULTADOS',
           'SMOTETomek': 'SMOTETomek-RESULTADOS',
           'ORIGINAL': 'ORIGINAL-RESULTADOS'}

In [507]:

def get_dict(key):    
    value = methods[key]
    method_path = f'{file_path}/{value}'
    _dict = {}
    for f in os.listdir(method_path):    
        if not fnmatch.fnmatch(f, f'*{key}*'): #Getting only the CSVs
            continue
        #Each DataFrame will represent one Algorithm
        _df = pd.read_csv(f'{method_path}/{f}', header=None, names=column_names)    
        _dict[f.split(sep='-')[0]] = _df
    return _dict

In [508]:
def get_p_df(_dict, metric_id):
    _ = pd.DataFrame(columns=['Algorithm', metric_id])
    n_df = pd.DataFrame()
    for key, value in _dict.items():  
        n_df = n_df.assign(**{'Algorithm':pd.Series(np.full(30, key, dtype='S2'), dtype=str).values,
                           metric_id:value[metric_id]})
        
        _=_.append(n_df)


    p_df = posthoc_dunn(_, val_col=str(metric_id), group_col='Algorithm', p_adjust = 'bonferroni')
    return p_df

# ALBERT EINSTEIN DataSet

## ADASYN

### F1-Score

In [509]:
dataset = 'AE'
file_path = f'{workspace}/{dataset}'

_dict = get_dict('ADASYN')
p_df = get_p_df(_dict, 'f1_score')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,3.000356e-03,8.482192e-05,1.000000e+00,1.140870e-01,1.000000e+00,6.179957e-08,1.000000e+00
b'KN',3.000356e-03,-1.000000e+00,3.674266e-16,8.864209e-03,1.000000e+00,1.771357e-07,1.815734e-21,8.007065e-04
b'LR',8.482192e-05,3.674266e-16,-1.000000e+00,2.173252e-05,1.304343e-12,1.748167e-01,1.000000e+00,3.671039e-04
b'ML',1.000000e+00,8.864209e-03,2.173252e-05,-1.000000e+00,2.611145e-01,7.656662e-01,1.118562e-08,1.000000e+00
b'NB',1.140870e-01,1.000000e+00,1.304343e-12,2.611145e-01,-1.000000e+00,4.301996e-05,2.361864e-17,4.082544e-02
b'RF',1.000000e+00,1.771357e-07,1.748167e-01,7.656662e-01,4.301996e-05,-1.000000e+00,1.448416e-03,1.000000e+00
b'SV',6.179957e-08,1.815734e-21,1.000000e+00,1.118562e-08,2.361864e-17,1.448416e-03,-1.000000e+00,3.970261e-07
b'XG',1.000000e+00,8.007065e-04,3.671039e-04,1.000000e+00,4.082544e-02,1.000000e+00,3.970261e-07,-1.000000e+00

#### F1-Score Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [510]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    **   ***    NS    NS    NS   ***    NS
b'KN'    **     -   ***    **    NS   ***   ***   ***
b'LR'   ***   ***     -   ***   ***    NS    NS   ***
b'ML'    NS    **   ***     -    NS    NS   ***    NS
b'NB'    NS    NS   ***    NS     -   ***   ***     *
b'RF'    NS   ***    NS    NS   ***     -    **    NS
b'SV'   ***   ***    NS   ***   ***    **     -   ***
b'XG'    NS   ***   ***    NS     *    NS   ***     -

### Sensitivity

In [511]:
p_df = get_p_df(_dict, 'sensitivity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.000000e+00,7.006937e-04,8.130965e-02,1.783767e-11,1.244512e-01,7.861231e-04,1.000000e+00
b'KN',1.000000e+00,-1.000000e+00,7.871528e-09,1.000000e+00,4.461332e-19,2.198515e-05,9.310454e-09,1.000000e+00
b'LR',7.006937e-04,7.871528e-09,-1.000000e+00,1.783767e-11,8.130965e-02,1.000000e+00,1.000000e+00,2.834596e-04
b'ML',8.130965e-02,1.000000e+00,1.783767e-11,-1.000000e+00,7.554632e-23,1.623500e-07,2.157966e-11,1.532445e-01
b'NB',1.783767e-11,4.461332e-19,8.130965e-02,7.554632e-23,-1.000000e+00,3.854487e-04,7.466417e-02,4.042291e-12
b'RF',1.244512e-01,2.198515e-05,1.000000e+00,1.623500e-07,3.854487e-04,-1.000000e+00,1.000000e+00,6.521829e-02
b'SV',7.861231e-04,9.310454e-09,1.000000e+00,2.157966e-11,7.466417e-02,1.000000e+00,-1.000000e+00,3.196100e-04
b'XG',1.000000e+00,1.000000e+00,2.834596e-04,1.532445e-01,4.042291e-12,6.521829e-02,3.196100e-04,-1.000000e+00

#### Sensitivity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [512]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS   ***    NS   ***    NS   ***    NS
b'KN'    NS     -   ***    NS   ***   ***   ***    NS
b'LR'   ***   ***     -   ***    NS    NS    NS   ***
b'ML'    NS    NS   ***     -   ***   ***   ***    NS
b'NB'   ***   ***    NS   ***     -   ***    NS   ***
b'RF'    NS   ***    NS   ***   ***     -    NS    NS
b'SV'   ***   ***    NS   ***    NS    NS     -   ***
b'XG'    NS    NS   ***    NS   ***    NS   ***     -

### Specificity

In [513]:
p_df = get_p_df(_dict, 'specificity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,8.070363e-02,1.000000e+00,6.899348e-06,3.889310e-08,1.000000e+00,6.948323e-02,1.000000e+00
b'KN',8.070363e-02,-1.000000e+00,9.031375e-03,1.102802e-14,5.860129e-02,1.000000e+00,5.337343e-08,9.161194e-02
b'LR',1.000000e+00,9.031375e-03,-1.000000e+00,1.545850e-04,7.007753e-10,1.000000e+00,4.477458e-01,1.000000e+00
b'ML',6.899348e-06,1.102802e-14,1.545850e-04,-1.000000e+00,9.404995e-28,1.499578e-09,9.176962e-01,5.596161e-06
b'NB',3.889310e-08,5.860129e-02,7.007753e-10,9.404995e-28,-1.000000e+00,9.007423e-05,2.975771e-18,4.953776e-08
b'RF',1.000000e+00,1.000000e+00,1.000000e+00,1.499578e-09,9.007423e-05,-1.000000e+00,2.689547e-04,1.000000e+00
b'SV',6.948323e-02,5.337343e-08,4.477458e-01,9.176962e-01,2.975771e-18,2.689547e-04,-1.000000e+00,6.102210e-02
b'XG',1.000000e+00,9.161194e-02,1.000000e+00,5.596161e-06,4.953776e-08,1.000000e+00,6.102210e-02,-1.000000e+00

#### Specificity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [514]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS   ***   ***    NS    NS    NS
b'KN'    NS     -    **   ***    NS    NS   ***    NS
b'LR'    NS    **     -   ***   ***    NS    NS    NS
b'ML'   ***   ***   ***     -   ***   ***    NS   ***
b'NB'   ***    NS   ***   ***     -   ***   ***   ***
b'RF'    NS    NS    NS   ***   ***     -   ***    NS
b'SV'    NS   ***    NS    NS   ***   ***     -    NS
b'XG'    NS    NS    NS   ***   ***    NS    NS     -

### LR+

In [515]:
p_df = get_p_df(_dict, 'LR_P')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,7.234531e-02,2.267419e-01,5.665360e-05,1.595416e-05,1.000000,1.295583e-05,1.000000
b'KN',0.072345,-1.000000e+00,4.206092e-07,2.296294e-13,1.000000e+00,0.048707,2.234163e-14,0.023326
b'LR',0.226742,4.206092e-07,-1.000000e+00,9.927493e-01,5.665011e-13,0.319485,4.676536e-01,0.569918
b'ML',0.000057,2.296294e-13,9.927493e-01,-1.000000e+00,5.051220e-21,0.000101,1.000000e+00,0.000273
b'NB',0.000016,1.000000e+00,5.665011e-13,5.051220e-21,-1.000000e+00,0.000009,2.779884e-22,0.000003
b'RF',1.000000,4.870719e-02,3.194846e-01,1.009137e-04,8.588443e-06,-1.000000,2.385337e-05,1.000000
b'SV',0.000013,2.234163e-14,4.676536e-01,1.000000e+00,2.779884e-22,0.000024,-1.000000e+00,0.000068
b'XG',1.000000,2.332643e-02,5.699177e-01,2.727114e-04,2.759207e-06,1.000000,6.836084e-05,-1.000000

#### LR+ Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [516]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS   ***   ***    NS   ***    NS
b'KN'    NS     -   ***   ***    NS     *   ***     *
b'LR'    NS   ***     -    NS   ***    NS    NS    NS
b'ML'   ***   ***    NS     -   ***   ***    NS   ***
b'NB'   ***    NS   ***   ***     -   ***   ***   ***
b'RF'    NS     *    NS   ***   ***     -   ***    NS
b'SV'   ***   ***    NS    NS   ***   ***     -   ***
b'XG'    NS     *    NS   ***   ***    NS   ***     -

### LR-

In [517]:
p_df = get_p_df(_dict, 'LR_N')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,2.356250e-01,2.377747e-06,8.109272e-01,8.312228e-05,4.688872e-02,1.710041e-07,1.000000e+00
b'KN',2.356250e-01,-1.000000e+00,3.738879e-14,1.000000e+00,7.596749e-12,2.122515e-07,8.245353e-16,2.286204e-01
b'LR',2.377747e-06,3.738879e-14,-1.000000e+00,1.312307e-12,1.000000e+00,7.516682e-01,1.000000e+00,2.516021e-06
b'ML',8.109272e-01,1.000000e+00,1.312307e-12,-1.000000e+00,1.969219e-10,2.801932e-06,3.546511e-14,7.901185e-01
b'NB',8.312228e-05,7.596749e-12,1.000000e+00,1.969219e-10,-1.000000e+00,1.000000e+00,1.000000e+00,8.736351e-05
b'RF',4.688872e-02,2.122515e-07,7.516682e-01,2.801932e-06,1.000000e+00,-1.000000e+00,2.116243e-01,4.855341e-02
b'SV',1.710041e-07,8.245353e-16,1.000000e+00,3.546511e-14,1.000000e+00,2.116243e-01,-1.000000e+00,1.817740e-07
b'XG',1.000000e+00,2.286204e-01,2.516021e-06,7.901185e-01,8.736351e-05,4.855341e-02,1.817740e-07,-1.000000e+00

#### LR- Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [518]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS   ***    NS   ***     *   ***    NS
b'KN'    NS     -   ***    NS   ***   ***   ***    NS
b'LR'   ***   ***     -   ***    NS    NS    NS   ***
b'ML'    NS    NS   ***     -   ***   ***   ***    NS
b'NB'   ***   ***    NS   ***     -    NS    NS   ***
b'RF'     *   ***    NS   ***    NS     -    NS     *
b'SV'   ***   ***    NS   ***    NS    NS     -   ***
b'XG'    NS    NS   ***    NS   ***     *   ***     -

### DOR

In [519]:
p_df = get_p_df(_dict, 'DOR')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,3.343274e-03,1.604542e-06,1.000000e+00,1.000000e+00,2.292494e-01,3.723641e-09,1.000000e+00
b'KN',3.343274e-03,-1.000000e+00,5.003182e-19,5.537919e-03,6.922333e-03,2.378207e-09,2.664143e-23,9.558768e-04
b'LR',1.604542e-06,5.003182e-19,-1.000000e+00,7.883786e-07,5.689888e-07,1.509100e-01,1.000000e+00,8.094741e-06
b'ML',1.000000e+00,5.537919e-03,7.883786e-07,-1.000000e+00,1.000000e+00,1.570748e-01,1.619326e-09,1.000000e+00
b'NB',1.000000e+00,6.922333e-03,5.689888e-07,1.000000e+00,-1.000000e+00,1.317787e-01,1.105940e-09,1.000000e+00
b'RF',2.292494e-01,2.378207e-09,1.509100e-01,1.570748e-01,1.317787e-01,-1.000000e+00,4.400429e-03,5.289897e-01
b'SV',3.723641e-09,2.664143e-23,1.000000e+00,1.619326e-09,1.105940e-09,4.400429e-03,-1.000000e+00,2.505514e-08
b'XG',1.000000e+00,9.558768e-04,8.094741e-06,1.000000e+00,1.000000e+00,5.289897e-01,2.505514e-08,-1.000000e+00

#### DOR Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [520]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    **   ***    NS    NS    NS   ***    NS
b'KN'    **     -   ***    **    **   ***   ***   ***
b'LR'   ***   ***     -   ***   ***    NS    NS   ***
b'ML'    NS    **   ***     -    NS    NS   ***    NS
b'NB'    NS    **   ***    NS     -    NS   ***    NS
b'RF'    NS   ***    NS    NS    NS     -    **    NS
b'SV'   ***   ***    NS   ***   ***    **     -   ***
b'XG'    NS   ***   ***    NS    NS    NS   ***     -

## ORIGINAL

### F1-Score

In [521]:
_dict = get_dict('ORIGINAL')
p_df = get_p_df(_dict, 'f1_score')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,0.126065,0.000364,1.173797e-12,3.489146e-10,1.000000e+00,1.780068e-13,9.182210e-06
b'KN',1.260652e-01,-1.000000,1.000000,6.792823e-05,2.338039e-03,2.411507e-03,2.014775e-05,6.566350e-01
b'LR',3.641993e-04,1.000000,-1.000000,3.916553e-02,4.408576e-01,1.442182e-06,1.649007e-02,1.000000e+00
b'ML',1.173797e-12,0.000068,0.039166,-1.000000e+00,1.000000e+00,1.561138e-16,1.000000e+00,4.019463e-01
b'NB',3.489146e-10,0.002338,0.440858,1.000000e+00,-1.000000e+00,1.068681e-13,1.000000e+00,1.000000e+00
b'RF',1.000000e+00,0.002412,0.000001,1.561138e-16,1.068681e-13,-1.000000e+00,1.827332e-17,1.656135e-08
b'SV',1.780068e-13,0.000020,0.016490,1.000000e+00,1.000000e+00,1.827332e-17,-1.000000e+00,2.000621e-01
b'XG',9.182210e-06,0.656635,1.000000,4.019463e-01,1.000000e+00,1.656135e-08,2.000621e-01,-1.000000e+00

#### F1-Score Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [522]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS   ***   ***   ***    NS   ***   ***
b'KN'    NS     -    NS   ***    **    **   ***    NS
b'LR'   ***    NS     -     *    NS   ***     *    NS
b'ML'   ***   ***     *     -    NS   ***    NS    NS
b'NB'   ***    **    NS    NS     -   ***    NS    NS
b'RF'    NS    **   ***   ***   ***     -   ***   ***
b'SV'   ***   ***     *    NS    NS   ***     -    NS
b'XG'   ***    NS    NS    NS    NS   ***    NS     -

### Sensitivity

In [523]:
p_df = get_p_df(_dict, 'sensitivity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.000000e+00,3.374583e-01,3.843081e-07,1.864482e-18,8.818623e-01,2.764921e-06,6.195059e-05
b'KN',1.000000e+00,-1.000000e+00,1.000000e+00,6.977048e-05,8.994203e-15,5.085487e-02,3.624604e-04,4.663491e-03
b'LR',3.374583e-01,1.000000e+00,-1.000000e+00,4.324962e-02,9.892462e-10,8.794841e-05,1.351388e-01,7.352519e-01
b'ML',3.843081e-07,6.977048e-05,4.324962e-02,-1.000000e+00,1.533515e-02,1.393002e-13,1.000000e+00,1.000000e+00
b'NB',1.864482e-18,8.994203e-15,9.892462e-10,1.533515e-02,-1.000000e+00,4.416689e-28,3.985820e-03,3.029816e-04
b'RF',8.818623e-01,5.085487e-02,8.794841e-05,1.393002e-13,4.416689e-28,-1.000000e+00,2.084596e-12,1.632476e-10
b'SV',2.764921e-06,3.624604e-04,1.351388e-01,1.000000e+00,3.985820e-03,2.084596e-12,-1.000000e+00,1.000000e+00
b'XG',6.195059e-05,4.663491e-03,7.352519e-01,1.000000e+00,3.029816e-04,1.632476e-10,1.000000e+00,-1.000000e+00

#### Sensitivity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [524]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS   ***   ***    NS   ***   ***
b'KN'    NS     -    NS   ***   ***    NS   ***    **
b'LR'    NS    NS     -     *   ***   ***    NS    NS
b'ML'   ***   ***     *     -     *   ***    NS    NS
b'NB'   ***   ***   ***     *     -   ***    **   ***
b'RF'    NS    NS   ***   ***   ***     -   ***   ***
b'SV'   ***   ***    NS    NS    **   ***     -    NS
b'XG'   ***    **    NS    NS   ***   ***    NS     -

### Specificity

In [525]:
p_df = get_p_df(_dict, 'specificity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.025470e-02,6.906691e-01,1.000000e+00,1.776506e-05,1.651092e-09,1.000000e+00,1.000000e+00
b'KN',1.025470e-02,-1.000000e+00,1.000000e+00,5.191568e-03,3.639544e-16,7.991107e-02,7.493468e-01,1.001813e-05
b'LR',6.906691e-01,1.000000e+00,-1.000000e+00,4.329053e-01,1.382571e-11,4.787753e-04,1.000000e+00,4.508345e-03
b'ML',1.000000e+00,5.191568e-03,4.329053e-01,-1.000000e+00,4.320012e-05,5.048338e-10,1.000000e+00,1.000000e+00
b'NB',1.776506e-05,3.639544e-16,1.382571e-11,4.320012e-05,-1.000000e+00,2.708315e-29,6.920771e-09,1.549059e-02
b'RF',1.651092e-09,7.991107e-02,4.787753e-04,5.048338e-10,2.708315e-29,-1.000000e+00,5.640118e-06,1.917592e-14
b'SV',1.000000e+00,7.493468e-01,1.000000e+00,1.000000e+00,6.920771e-09,5.640118e-06,-1.000000e+00,1.130637e-01
b'XG',1.000000e+00,1.001813e-05,4.508345e-03,1.000000e+00,1.549059e-02,1.917592e-14,1.130637e-01,-1.000000e+00

#### Specificity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [526]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -     *    NS    NS   ***   ***    NS    NS
b'KN'     *     -    NS    **   ***    NS    NS   ***
b'LR'    NS    NS     -    NS   ***   ***    NS    **
b'ML'    NS    **    NS     -   ***   ***    NS    NS
b'NB'   ***   ***   ***   ***     -   ***   ***     *
b'RF'   ***    NS   ***   ***   ***     -   ***   ***
b'SV'    NS    NS    NS    NS   ***   ***     -    NS
b'XG'    NS   ***    **    NS     *   ***    NS     -

### LR+

In [527]:
p_df = get_p_df(_dict, 'LR_P')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,2.341376e-06,2.225573e-04,2.025123e-02,1.138613e-01,4.356370e-12,2.057768e-05,1.000000e+00
b'KN',2.341376e-06,-1.000000e+00,1.000000e+00,1.000000e+00,5.151080e-15,1.000000e+00,1.000000e+00,9.291077e-04
b'LR',2.225573e-04,1.000000e+00,-1.000000e+00,1.000000e+00,6.001869e-12,9.936092e-02,1.000000e+00,3.142951e-02
b'ML',2.025123e-02,1.000000e+00,1.000000e+00,-1.000000e+00,1.123319e-08,1.760988e-03,1.000000e+00,8.361289e-01
b'NB',1.138613e-01,5.151080e-15,6.001869e-12,1.123319e-08,-1.000000e+00,3.138304e-23,1.423020e-13,1.252098e-03
b'RF',4.356370e-12,1.000000e+00,9.936092e-02,1.760988e-03,3.138304e-23,-1.000000e+00,4.223093e-01,1.868988e-08
b'SV',2.057768e-05,1.000000e+00,1.000000e+00,1.000000e+00,1.423020e-13,4.223093e-01,-1.000000e+00,5.087083e-03
b'XG',1.000000e+00,9.291077e-04,3.142951e-02,8.361289e-01,1.252098e-03,1.868988e-08,5.087083e-03,-1.000000e+00

#### LR+ Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [528]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -   ***   ***     *    NS   ***   ***    NS
b'KN'   ***     -    NS    NS   ***    NS    NS   ***
b'LR'   ***    NS     -    NS   ***    NS    NS     *
b'ML'     *    NS    NS     -   ***    **    NS    NS
b'NB'    NS   ***   ***   ***     -   ***   ***    **
b'RF'   ***    NS    NS    **   ***     -    NS   ***
b'SV'   ***    NS    NS    NS   ***    NS     -    **
b'XG'    NS   ***     *    NS    **   ***    **     -

### LR-

In [529]:
p_df = get_p_df(_dict, 'LR_N')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.000000e+00,1.828989e-02,1.136779e-08,6.586579e-21,1.000000e+00,2.053254e-08,3.036445e-05
b'KN',1.000000e+00,-1.000000e+00,1.000000e+00,5.306484e-04,2.563296e-13,1.708209e-02,8.022699e-04,1.042021e-01
b'LR',1.828989e-02,1.000000e+00,-1.000000e+00,1.250541e-01,7.477484e-09,3.273788e-05,1.667496e-01,1.000000e+00
b'ML',1.136779e-08,5.306484e-04,1.250541e-01,-1.000000e+00,1.437962e-02,3.692661e-13,1.000000e+00,1.000000e+00
b'NB',6.586579e-21,2.563296e-13,7.477484e-09,1.437962e-02,-1.000000e+00,1.470147e-27,1.012757e-02,3.463407e-05
b'RF',1.000000e+00,1.708209e-02,3.273788e-05,3.692661e-13,1.470147e-27,-1.000000e+00,7.614623e-13,6.956463e-09
b'SV',2.053254e-08,8.022699e-04,1.667496e-01,1.000000e+00,1.012757e-02,7.614623e-13,-1.000000e+00,1.000000e+00
b'XG',3.036445e-05,1.042021e-01,1.000000e+00,1.000000e+00,3.463407e-05,6.956463e-09,1.000000e+00,-1.000000e+00

#### LR- Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [530]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS     *   ***   ***    NS   ***   ***
b'KN'    NS     -    NS   ***   ***     *   ***    NS
b'LR'     *    NS     -    NS   ***   ***    NS    NS
b'ML'   ***   ***    NS     -     *   ***    NS    NS
b'NB'   ***   ***   ***     *     -   ***     *   ***
b'RF'    NS     *   ***   ***   ***     -   ***   ***
b'SV'   ***   ***    NS    NS     *   ***     -    NS
b'XG'   ***    NS    NS    NS   ***   ***    NS     -

### DOR

In [531]:
p_df = get_p_df(_dict, 'DOR')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,3.982456e-09,1.660191e-09,2.315219e-12,1.000000e+00,0.000021,4.984679e-16,0.000675
b'KN',3.982456e-09,-1.000000e+00,1.000000e+00,1.000000e+00,1.006118e-06,1.000000,1.000000e+00,0.797634
b'LR',1.660191e-09,1.000000e+00,-1.000000e+00,1.000000e+00,4.712328e-07,1.000000,1.000000e+00,0.565708
b'ML',2.315219e-12,1.000000e+00,1.000000e+00,-1.000000e+00,1.484091e-09,0.328921,1.000000e+00,0.033118
b'NB',1.000000e+00,1.006118e-06,4.712328e-07,1.484091e-09,-1.000000e+00,0.001480,8.065541e-13,0.025273
b'RF',2.117594e-05,1.000000e+00,1.000000e+00,3.289208e-01,1.480151e-03,-1.000000,1.034522e-02,1.000000
b'SV',4.984679e-16,1.000000e+00,1.000000e+00,1.000000e+00,8.065541e-13,0.010345,-1.000000e+00,0.000513
b'XG',6.750912e-04,7.976343e-01,5.657078e-01,3.311756e-02,2.527330e-02,1.000000,5.132045e-04,-1.000000

#### DOR Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [532]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -   ***   ***   ***    NS   ***   ***   ***
b'KN'   ***     -    NS    NS   ***    NS    NS    NS
b'LR'   ***    NS     -    NS   ***    NS    NS    NS
b'ML'   ***    NS    NS     -   ***    NS    NS     *
b'NB'    NS   ***   ***   ***     -    **   ***     *
b'RF'   ***    NS    NS    NS    **     -     *    NS
b'SV'   ***    NS    NS    NS   ***     *     -   ***
b'XG'   ***    NS    NS     *     *    NS   ***     -

## ROS

### F1-Score

In [533]:
_dict = get_dict('ROS')
p_df = get_p_df(_dict, 'f1_score')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.613717e-05,1.156744e-09,1.000000e+00,1.000000e+00,0.000219,4.302282e-13,1.000000e+00
b'KN',1.613717e-05,-1.000000e+00,1.000000e+00,3.047337e-02,1.601925e-07,1.000000,2.028000e-01,1.746992e-02
b'LR',1.156744e-09,1.000000e+00,-1.000000e+00,3.173443e-05,3.157401e-12,0.930183,1.000000e+00,1.437025e-05
b'ML',1.000000e+00,3.047337e-02,3.173443e-05,-1.000000e+00,2.947099e-01,0.173322,7.412124e-08,1.000000e+00
b'NB',1.000000e+00,1.601925e-07,3.157401e-12,2.947099e-01,-1.000000e+00,0.000003,4.862682e-16,4.544225e-01
b'RF',2.191286e-04,1.000000e+00,9.301835e-01,1.733219e-01,3.321277e-06,-1.000000,3.658006e-02,1.072182e-01
b'SV',4.302282e-13,2.028000e-01,1.000000e+00,7.412124e-08,4.862682e-16,0.036580,-1.000000e+00,2.852197e-08
b'XG',1.000000e+00,1.746992e-02,1.437025e-05,1.000000e+00,4.544225e-01,0.107218,2.852197e-08,-1.000000e+00

#### F1-Score Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [534]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -   ***   ***    NS    NS   ***   ***    NS
b'KN'   ***     -    NS     *   ***    NS    NS     *
b'LR'   ***    NS     -   ***   ***    NS    NS   ***
b'ML'    NS     *   ***     -    NS    NS   ***    NS
b'NB'    NS   ***   ***    NS     -   ***   ***    NS
b'RF'   ***    NS    NS    NS   ***     -     *    NS
b'SV'   ***    NS    NS   ***   ***     *     -   ***
b'XG'    NS     *   ***    NS    NS    NS   ***     -

### Sensitivity

In [535]:
p_df = get_p_df(_dict, 'sensitivity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.390192e-01,6.925892e-04,1.000000e+00,4.195348e-13,1.000000e+00,3.922112e-03,7.199913e-02
b'KN',1.390192e-01,-1.000000e+00,1.000000e+00,5.720583e-05,2.994953e-05,1.000000e+00,1.000000e+00,1.607714e-07
b'LR',6.925892e-04,1.000000e+00,-1.000000e+00,2.075532e-08,1.454720e-02,1.999054e-01,1.000000e+00,1.332494e-11
b'ML',1.000000e+00,5.720583e-05,2.075532e-08,-1.000000e+00,1.713714e-20,1.474999e-02,2.530722e-07,1.000000e+00
b'NB',4.195348e-13,2.994953e-05,1.454720e-02,1.713714e-20,-1.000000e+00,2.027357e-08,2.929124e-03,2.774380e-25
b'RF',1.000000e+00,1.000000e+00,1.999054e-01,1.474999e-02,2.027357e-08,-1.000000e+00,6.311887e-01,1.562139e-04
b'SV',3.922112e-03,1.000000e+00,1.000000e+00,2.530722e-07,2.929124e-03,6.311887e-01,-1.000000e+00,2.499127e-10
b'XG',7.199913e-02,1.607714e-07,1.332494e-11,1.000000e+00,2.774380e-25,1.562139e-04,2.499127e-10,-1.000000e+00

#### Sensitivity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [536]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS   ***    NS   ***    NS    **    NS
b'KN'    NS     -    NS   ***   ***    NS    NS   ***
b'LR'   ***    NS     -   ***     *    NS    NS   ***
b'ML'    NS   ***   ***     -   ***     *   ***    NS
b'NB'   ***   ***     *   ***     -   ***    **   ***
b'RF'    NS    NS    NS     *   ***     -    NS   ***
b'SV'    **    NS    NS   ***    **    NS     -   ***
b'XG'    NS   ***   ***    NS   ***   ***   ***     -

### Specificity

In [537]:
p_df = get_p_df(_dict, 'specificity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.000000e+00,1.000000e+00,1.411463e-06,8.833456e-03,5.780811e-01,5.143775e-04,6.578796e-12
b'KN',1.000000e+00,-1.000000e+00,1.000000e+00,1.077050e-04,2.606865e-04,1.000000e+00,1.549593e-02,2.296181e-09
b'LR',1.000000e+00,1.000000e+00,-1.000000e+00,1.723820e-03,1.267372e-05,1.000000e+00,1.260423e-01,1.120625e-07
b'ML',1.411463e-06,1.077050e-04,1.723820e-03,-1.000000e+00,3.926654e-18,4.804380e-02,1.000000e+00,1.000000e+00
b'NB',8.833456e-03,2.606865e-04,1.267372e-05,3.926654e-18,-1.000000e+00,9.200046e-08,8.731735e-14,2.333190e-26
b'RF',5.780811e-01,1.000000e+00,1.000000e+00,4.804380e-02,9.200046e-08,-1.000000e+00,1.000000e+00,1.501787e-05
b'SV',5.143775e-04,1.549593e-02,1.260423e-01,1.000000e+00,8.731735e-14,1.000000e+00,-1.000000e+00,6.549698e-02
b'XG',6.578796e-12,2.296181e-09,1.120625e-07,1.000000e+00,2.333190e-26,1.501787e-05,6.549698e-02,-1.000000e+00

#### Specificity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [538]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS   ***    **    NS   ***   ***
b'KN'    NS     -    NS   ***   ***    NS     *   ***
b'LR'    NS    NS     -    **   ***    NS    NS   ***
b'ML'   ***   ***    **     -   ***     *    NS    NS
b'NB'    **   ***   ***   ***     -   ***   ***   ***
b'RF'    NS    NS    NS     *   ***     -    NS   ***
b'SV'   ***     *    NS    NS   ***    NS     -    NS
b'XG'   ***   ***   ***    NS   ***   ***    NS     -

### LR+

In [539]:
p_df = get_p_df(_dict, 'LR_P')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.789621e-01,1.456810e-03,2.296094e-03,1.165695e-01,1.661982e-02,2.545094e-09,2.476347e-08
b'KN',1.789621e-01,-1.000000e+00,1.000000e+00,1.000000e+00,6.266553e-07,1.000000e+00,4.865672e-03,1.873075e-02
b'LR',1.456810e-03,1.000000e+00,-1.000000e+00,1.000000e+00,1.339494e-10,1.000000e+00,4.169187e-01,1.000000e+00
b'ML',2.296094e-03,1.000000e+00,1.000000e+00,-1.000000e+00,2.849246e-10,1.000000e+00,3.078254e-01,7.976285e-01
b'NB',1.165695e-01,6.266553e-07,1.339494e-10,2.849246e-10,-1.000000e+00,8.330746e-09,2.527369e-19,6.644073e-18
b'RF',1.661982e-02,1.000000e+00,1.000000e+00,1.000000e+00,8.330746e-09,-1.000000e+00,6.475571e-02,1.974149e-01
b'SV',2.545094e-09,4.865672e-03,4.169187e-01,3.078254e-01,2.527369e-19,6.475571e-02,-1.000000e+00,1.000000e+00
b'XG',2.476347e-08,1.873075e-02,1.000000e+00,7.976285e-01,6.644073e-18,1.974149e-01,1.000000e+00,-1.000000e+00

#### LR+ Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [540]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    **    **    NS     *   ***   ***
b'KN'    NS     -    NS    NS   ***    NS    **     *
b'LR'    **    NS     -    NS   ***    NS    NS    NS
b'ML'    **    NS    NS     -   ***    NS    NS    NS
b'NB'    NS   ***   ***   ***     -   ***   ***   ***
b'RF'     *    NS    NS    NS   ***     -    NS    NS
b'SV'   ***    **    NS    NS   ***    NS     -    NS
b'XG'   ***     *    NS    NS   ***    NS    NS     -

### LR-

In [541]:
p_df = get_p_df(_dict, 'LR_N')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,0.008814,4.772614e-06,1.000000e+00,1.029061e-11,0.415849,2.329268e-06,1.000000e+00
b'KN',8.813779e-03,-1.000000,1.000000e+00,1.561108e-04,6.947460e-03,1.000000,1.000000e+00,1.100461e-06
b'LR',4.772614e-06,1.000000,-1.000000e+00,1.936017e-08,1.000000e+00,0.146220,1.000000e+00,3.019517e-11
b'ML',1.000000e+00,0.000156,1.936017e-08,-1.000000e+00,6.399161e-15,0.020666,8.380864e-09,1.000000e+00
b'NB',1.029061e-11,0.006947,1.000000e+00,6.399161e-15,-1.000000e+00,0.000038,1.000000e+00,1.478277e-18
b'RF',4.158486e-01,1.000000,1.462195e-01,2.066590e-02,3.803022e-05,-1.000000,9.672735e-02,4.230224e-04
b'SV',2.329268e-06,1.000000,1.000000e+00,8.380864e-09,1.000000e+00,0.096727,-1.000000e+00,1.156601e-11
b'XG',1.000000e+00,0.000001,3.019517e-11,1.000000e+00,1.478277e-18,0.000423,1.156601e-11,-1.000000e+00

#### LR- Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [542]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    **   ***    NS   ***    NS   ***    NS
b'KN'    **     -    NS   ***    **    NS    NS   ***
b'LR'   ***    NS     -   ***    NS    NS    NS   ***
b'ML'    NS   ***   ***     -   ***     *   ***    NS
b'NB'   ***    **    NS   ***     -   ***    NS   ***
b'RF'    NS    NS    NS     *   ***     -    NS   ***
b'SV'   ***    NS    NS   ***    NS    NS     -   ***
b'XG'    NS   ***   ***    NS   ***   ***   ***     -

### DOR

In [543]:
p_df = get_p_df(_dict, 'DOR')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,0.000009,9.514630e-11,1.000000e+00,1.000000e+00,0.000213,4.092671e-14,1.000000e+00
b'KN',8.716314e-06,-1.000000,1.000000e+00,2.233099e-02,5.542139e-02,1.000000,1.172560e-01,3.051483e-02
b'LR',9.514630e-11,1.000000,-1.000000e+00,5.659725e-06,2.220972e-05,0.363436,1.000000e+00,9.021992e-06
b'ML',1.000000e+00,0.022331,5.659725e-06,-1.000000e+00,1.000000e+00,0.186672,1.416071e-08,1.000000e+00
b'NB',1.000000e+00,0.055421,2.220972e-05,1.000000e+00,-1.000000e+00,0.396997,7.194362e-08,1.000000e+00
b'RF',2.130817e-04,1.000000,3.634355e-01,1.866715e-01,3.969968e-01,-1.000000,1.282010e-02,2.421574e-01
b'SV',4.092671e-14,0.117256,1.000000e+00,1.416071e-08,7.194362e-08,0.012820,-1.000000e+00,2.461918e-08
b'XG',1.000000e+00,0.030515,9.021992e-06,1.000000e+00,1.000000e+00,0.242157,2.461918e-08,-1.000000e+00

#### DOR Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [544]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -   ***   ***    NS    NS   ***   ***    NS
b'KN'   ***     -    NS     *    NS    NS    NS     *
b'LR'   ***    NS     -   ***   ***    NS    NS   ***
b'ML'    NS     *   ***     -    NS    NS   ***    NS
b'NB'    NS    NS   ***    NS     -    NS   ***    NS
b'RF'   ***    NS    NS    NS    NS     -     *    NS
b'SV'   ***    NS    NS   ***   ***     *     -   ***
b'XG'    NS     *   ***    NS    NS    NS   ***     -

## RUS

### F1-Score

In [545]:
_dict = get_dict('RUS')
p_df = get_p_df(_dict, 'f1_score')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,2.874061e-05,1.262480e-09,5.435029e-09,1.000000e+00,0.043240,6.736006e-13,0.337411
b'KN',2.874061e-05,-1.000000e+00,1.000000e+00,1.000000e+00,1.838131e-08,1.000000,1.718494e-01,0.490262
b'LR',1.262480e-09,1.000000e+00,-1.000000e+00,1.000000e+00,9.460998e-14,0.017528,1.000000e+00,0.001285
b'ML',5.435029e-09,1.000000e+00,1.000000e+00,-1.000000e+00,5.384617e-13,0.038519,1.000000e+00,0.003237
b'NB',1.000000e+00,1.838131e-08,9.460998e-14,5.384617e-13,-1.000000e+00,0.000234,1.346529e-17,0.004045
b'RF',4.324032e-02,1.000000e+00,1.752850e-02,3.851933e-02,2.338455e-04,-1.000000,2.288290e-04,1.000000
b'SV',6.736006e-13,1.718494e-01,1.000000e+00,1.000000e+00,1.346529e-17,0.000229,-1.000000e+00,0.000009
b'XG',3.374109e-01,4.902624e-01,1.284826e-03,3.236907e-03,4.044900e-03,1.000000,8.730087e-06,-1.000000

#### F1-Score Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [546]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -   ***   ***   ***    NS     *   ***    NS
b'KN'   ***     -    NS    NS   ***    NS    NS    NS
b'LR'   ***    NS     -    NS   ***     *    NS    **
b'ML'   ***    NS    NS     -   ***     *    NS    **
b'NB'    NS   ***   ***   ***     -   ***   ***    **
b'RF'     *    NS     *     *   ***     -   ***    NS
b'SV'   ***    NS    NS    NS   ***   ***     -   ***
b'XG'    NS    NS    **    **    **    NS   ***     -

### Sensitivity

In [547]:
p_df = get_p_df(_dict, 'sensitivity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.174102e-04,3.750854e-08,2.138615e-04,1.345026e-23,1.673578e-01,1.001780e-07,1.000000e+00
b'KN',1.174102e-04,-1.000000e+00,1.000000e+00,1.000000e+00,2.726798e-07,1.000000e+00,1.000000e+00,1.631330e-01
b'LR',3.750854e-08,1.000000e+00,-1.000000e+00,1.000000e+00,5.370776e-04,2.579458e-02,1.000000e+00,6.888747e-04
b'ML',2.138615e-04,1.000000e+00,1.000000e+00,-1.000000e+00,1.282839e-07,1.000000e+00,1.000000e+00,2.384252e-01
b'NB',1.345026e-23,2.726798e-07,5.370776e-04,1.282839e-07,-1.000000e+00,9.114128e-13,2.587966e-04,5.656486e-16
b'RF',1.673578e-01,1.000000e+00,2.579458e-02,1.000000e+00,9.114128e-13,-1.000000e+00,4.515857e-02,1.000000e+00
b'SV',1.001780e-07,1.000000e+00,1.000000e+00,1.000000e+00,2.587966e-04,4.515857e-02,-1.000000e+00,1.383147e-03
b'XG',1.000000e+00,1.631330e-01,6.888747e-04,2.384252e-01,5.656486e-16,1.000000e+00,1.383147e-03,-1.000000e+00

#### Sensitivity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [548]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -   ***   ***   ***   ***    NS   ***    NS
b'KN'   ***     -    NS    NS   ***    NS    NS    NS
b'LR'   ***    NS     -    NS   ***     *    NS   ***
b'ML'   ***    NS    NS     -   ***    NS    NS    NS
b'NB'   ***   ***   ***   ***     -   ***   ***   ***
b'RF'    NS    NS     *    NS   ***     -     *    NS
b'SV'   ***    NS    NS    NS   ***     *     -    **
b'XG'    NS    NS   ***    NS   ***    NS    **     -

### Specificity

In [549]:
p_df = get_p_df(_dict, 'specificity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.000000e+00,1.000000e+00,3.259318e-01,7.699235e-08,1.000000,1.782133e-01,1.000000e+00
b'KN',1.000000e+00,-1.000000e+00,1.000000e+00,1.267013e-01,5.054351e-07,1.000000,6.524925e-02,1.000000e+00
b'LR',1.000000e+00,1.000000e+00,-1.000000e+00,1.000000e+00,2.858116e-09,1.000000,7.581484e-01,1.000000e+00
b'ML',3.259318e-01,1.267013e-01,1.000000e+00,-1.000000e+00,6.945530e-16,0.040929,1.000000e+00,1.000000e+00
b'NB',7.699235e-08,5.054351e-07,2.858116e-09,6.945530e-16,-1.000000e+00,0.000003,1.165550e-16,4.386294e-09
b'RF',1.000000e+00,1.000000e+00,1.000000e+00,4.092901e-02,3.489645e-06,-1.000000,1.973597e-02,1.000000e+00
b'SV',1.782133e-01,6.524925e-02,7.581484e-01,1.000000e+00,1.165550e-16,0.019736,-1.000000e+00,6.405200e-01
b'XG',1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.386294e-09,1.000000,6.405200e-01,-1.000000e+00

#### Specificity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [550]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS   ***    NS    NS    NS
b'KN'    NS     -    NS    NS   ***    NS    NS    NS
b'LR'    NS    NS     -    NS   ***    NS    NS    NS
b'ML'    NS    NS    NS     -   ***     *    NS    NS
b'NB'   ***   ***   ***   ***     -   ***   ***   ***
b'RF'    NS    NS    NS     *   ***     -     *    NS
b'SV'    NS    NS    NS    NS   ***     *     -    NS
b'XG'    NS    NS    NS    NS   ***    NS    NS     -

### LR+

In [551]:
p_df = get_p_df(_dict, 'LR_P')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,7.131269e-01,3.647255e-03,5.311622e-05,2.260762e-03,1.000000,7.474768e-07,1.000000e+00
b'KN',7.131269e-01,-1.000000e+00,1.000000e+00,3.194836e-01,1.836173e-08,1.000000,2.452589e-02,1.000000e+00
b'LR',3.647255e-03,1.000000e+00,-1.000000e+00,1.000000e+00,2.229823e-13,0.293392,1.000000e+00,7.234638e-01
b'ML',5.311622e-05,3.194836e-01,1.000000e+00,-1.000000e+00,8.791838e-17,0.013137,1.000000e+00,4.316020e-02
b'NB',2.260762e-03,1.836173e-08,2.229823e-13,8.791838e-17,-1.000000e+00,0.000005,5.654267e-20,8.492522e-07
b'RF',1.000000e+00,1.000000e+00,2.933916e-01,1.313701e-02,5.329780e-06,-1.000000,4.880451e-04,1.000000e+00
b'SV',7.474768e-07,2.452589e-02,1.000000e+00,1.000000e+00,5.654267e-20,0.000488,-1.000000e+00,2.059375e-03
b'XG',1.000000e+00,1.000000e+00,7.234638e-01,4.316020e-02,8.492522e-07,1.000000,2.059375e-03,-1.000000e+00

#### LR+ Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [552]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    **   ***    **    NS   ***    NS
b'KN'    NS     -    NS    NS   ***    NS     *    NS
b'LR'    **    NS     -    NS   ***    NS    NS    NS
b'ML'   ***    NS    NS     -   ***     *    NS     *
b'NB'    **   ***   ***   ***     -   ***   ***   ***
b'RF'    NS    NS    NS     *   ***     -   ***    NS
b'SV'   ***     *    NS    NS   ***   ***     -    **
b'XG'    NS    NS    NS     *   ***    NS    **     -

### LR-

In [553]:
p_df = get_p_df(_dict, 'LR_N')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,0.000027,5.377220e-10,0.000001,1.670618e-19,1.017539e-01,8.118767e-11,1.000000e+00
b'KN',2.672896e-05,-1.000000,1.000000e+00,1.000000,1.995955e-04,1.000000e+00,1.000000e+00,9.730658e-02
b'LR',5.377220e-10,1.000000,-1.000000e+00,1.000000,2.069795e-01,3.992165e-03,1.000000e+00,6.181645e-05
b'ML',1.308780e-06,1.000000,1.000000e+00,-1.000000,2.405212e-03,2.973392e-01,1.000000e+00,1.379293e-02
b'NB',1.670618e-19,0.000200,2.069795e-01,0.002405,-1.000000e+00,2.529431e-09,4.490241e-01,3.481921e-12
b'RF',1.017539e-01,1.000000,3.992165e-03,0.297339,2.529431e-09,-1.000000e+00,1.292757e-03,1.000000e+00
b'SV',8.118767e-11,1.000000,1.000000e+00,1.000000,4.490241e-01,1.292757e-03,-1.000000e+00,1.572474e-05
b'XG',1.000000e+00,0.097307,6.181645e-05,0.013793,3.481921e-12,1.000000e+00,1.572474e-05,-1.000000e+00

#### LR- Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [554]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -   ***   ***   ***   ***    NS   ***    NS
b'KN'   ***     -    NS    NS   ***    NS    NS    NS
b'LR'   ***    NS     -    NS    NS    **    NS   ***
b'ML'   ***    NS    NS     -    **    NS    NS     *
b'NB'   ***   ***    NS    **     -   ***    NS   ***
b'RF'    NS    NS    **    NS   ***     -    **    NS
b'SV'   ***    NS    NS    NS    NS    **     -   ***
b'XG'    NS    NS   ***     *   ***    NS   ***     -

### DOR

In [555]:
p_df = get_p_df(_dict, 'DOR')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,0.000004,3.978692e-11,4.085028e-10,1.000000e+00,0.027734,2.392196e-14,0.278812
b'KN',4.041009e-06,-1.000000,1.000000e+00,1.000000e+00,3.565524e-03,1.000000,1.491880e-01,0.204692
b'LR',3.978692e-11,1.000000,-1.000000e+00,1.000000e+00,4.392262e-07,0.004239,1.000000e+00,0.000186
b'ML',4.085028e-10,1.000000,1.000000e+00,-1.000000e+00,2.845189e-06,0.015197,1.000000e+00,0.000836
b'NB',1.000000e+00,0.003566,4.392262e-07,2.845189e-06,-1.000000e+00,1.000000,1.019167e-09,1.000000
b'RF',2.773364e-02,1.000000,4.238927e-03,1.519739e-02,1.000000e+00,-1.000000,5.613426e-05,1.000000
b'SV',2.392196e-14,0.149188,1.000000e+00,1.000000e+00,1.019167e-09,0.000056,-1.000000e+00,0.000001
b'XG',2.788125e-01,0.204692,1.861122e-04,8.357226e-04,1.000000e+00,1.000000,1.268254e-06,-1.000000

#### DOR Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [556]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -   ***   ***   ***    NS     *   ***    NS
b'KN'   ***     -    NS    NS    **    NS    NS    NS
b'LR'   ***    NS     -    NS   ***    **    NS   ***
b'ML'   ***    NS    NS     -   ***     *    NS   ***
b'NB'    NS    **   ***   ***     -    NS   ***    NS
b'RF'     *    NS    **     *    NS     -   ***    NS
b'SV'   ***    NS    NS    NS   ***   ***     -   ***
b'XG'    NS    NS   ***   ***    NS    NS   ***     -

## SMOTE

### F1-Score

In [557]:
_dict = get_dict('SMOTE')
p_df = get_p_df(_dict, 'f1_score')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,7.822031e-01,7.347137e-06,1.000000e+00,1.988522e-02,0.947602,7.893540e-08,1.000000
b'KN',7.822031e-01,-1.000000e+00,5.683591e-12,3.473581e-01,1.000000e+00,0.000437,1.106918e-14,0.035418
b'LR',7.347137e-06,5.683591e-12,-1.000000e+00,3.519779e-05,3.950065e-16,0.069229,1.000000e+00,0.001047
b'ML',1.000000e+00,3.473581e-01,3.519779e-05,-1.000000e+00,6.333131e-03,1.000000,4.772640e-07,1.000000
b'NB',1.988522e-02,1.000000e+00,3.950065e-16,6.333131e-03,-1.000000e+00,0.000001,3.037577e-19,0.000288
b'RF',9.476025e-01,4.366355e-04,6.922911e-02,1.000000e+00,1.018790e-06,-1.000000,3.738764e-03,1.000000
b'SV',7.893540e-08,1.106918e-14,1.000000e+00,4.772640e-07,3.037577e-19,0.003739,-1.000000e+00,0.000025
b'XG',1.000000e+00,3.541791e-02,1.047141e-03,1.000000e+00,2.877708e-04,1.000000,2.471182e-05,-1.000000

#### F1-Score Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [558]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS   ***    NS     *    NS   ***    NS
b'KN'    NS     -   ***    NS    NS   ***   ***     *
b'LR'   ***   ***     -   ***   ***    NS    NS    **
b'ML'    NS    NS   ***     -    **    NS   ***    NS
b'NB'     *    NS   ***    **     -   ***   ***   ***
b'RF'    NS   ***    NS    NS   ***     -    **    NS
b'SV'   ***   ***    NS   ***   ***    **     -   ***
b'XG'    NS     *    **    NS   ***    NS   ***     -

### Sensitivity

In [559]:
p_df = get_p_df(_dict, 'sensitivity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.000000e+00,2.422298e-02,4.906618e-02,2.767337e-09,1.000000e+00,4.361970e-02,1.000000e+00
b'KN',1.000000e+00,-1.000000e+00,1.319420e-04,1.000000e+00,3.391322e-13,1.000000e+00,2.896814e-04,1.000000e+00
b'LR',2.422298e-02,1.319420e-04,-1.000000e+00,2.924811e-09,4.768665e-02,3.719110e-03,1.000000e+00,1.313997e-05
b'ML',4.906618e-02,1.000000e+00,2.924811e-09,-1.000000e+00,2.282236e-20,2.326888e-01,8.720876e-09,1.000000e+00
b'NB',2.767337e-09,3.391322e-13,4.768665e-02,2.282236e-20,-1.000000e+00,9.608601e-11,2.658974e-02,8.208260e-15
b'RF',1.000000e+00,1.000000e+00,3.719110e-03,2.326888e-01,9.608601e-11,-1.000000e+00,7.235717e-03,1.000000e+00
b'SV',4.361970e-02,2.896814e-04,1.000000e+00,8.720876e-09,2.658974e-02,7.235717e-03,-1.000000e+00,3.107835e-05
b'XG',1.000000e+00,1.000000e+00,1.313997e-05,1.000000e+00,8.208260e-15,1.000000e+00,3.107835e-05,-1.000000e+00

#### Sensitivity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [560]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS     *     *   ***    NS     *    NS
b'KN'    NS     -   ***    NS   ***    NS   ***    NS
b'LR'     *   ***     -   ***     *    **    NS   ***
b'ML'     *    NS   ***     -   ***    NS   ***    NS
b'NB'   ***   ***     *   ***     -   ***     *   ***
b'RF'    NS    NS    **    NS   ***     -    **    NS
b'SV'     *   ***    NS   ***     *    **     -   ***
b'XG'    NS    NS   ***    NS   ***    NS   ***     -

### Specificity

In [561]:
p_df = get_p_df(_dict, 'specificity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,6.857464e-01,2.472924e-01,5.586248e-06,2.220427e-04,4.649548e-01,4.222203e-05,1.339622e-01
b'KN',0.685746,-1.000000e+00,3.159194e-05,2.630747e-12,7.440632e-01,9.537543e-05,4.678175e-11,1.110707e-05
b'LR',0.247292,3.159194e-05,-1.000000e+00,2.756012e-01,3.877611e-11,1.000000e+00,7.952584e-01,1.000000e+00
b'ML',0.000006,2.630747e-12,2.756012e-01,-1.000000e+00,1.167565e-20,1.411195e-01,1.000000e+00,4.866120e-01
b'NB',0.000222,7.440632e-01,3.877611e-11,1.167565e-20,-1.000000e+00,1.896102e-10,4.869708e-19,8.791071e-12
b'RF',0.464955,9.537543e-05,1.000000e+00,1.411195e-01,1.896102e-10,-1.000000e+00,4.407618e-01,1.000000e+00
b'SV',0.000042,4.678175e-11,7.952584e-01,1.000000e+00,4.869708e-19,4.407618e-01,-1.000000e+00,1.000000e+00
b'XG',0.133962,1.110707e-05,1.000000e+00,4.866120e-01,8.791071e-12,1.000000e+00,1.000000e+00,-1.000000e+00

#### Specificity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [562]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS   ***   ***    NS   ***    NS
b'KN'    NS     -   ***   ***    NS   ***   ***   ***
b'LR'    NS   ***     -    NS   ***    NS    NS    NS
b'ML'   ***   ***    NS     -   ***    NS    NS    NS
b'NB'   ***    NS   ***   ***     -   ***   ***   ***
b'RF'    NS   ***    NS    NS   ***     -    NS    NS
b'SV'   ***   ***    NS    NS   ***    NS     -    NS
b'XG'    NS   ***    NS    NS   ***    NS    NS     -

### LR+

In [563]:
p_df = get_p_df(_dict, 'LR_P')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,7.148435e-01,8.188322e-04,4.855330e-02,2.187181e-04,3.549838e-01,1.338010e-07,9.010370e-01
b'KN',7.148435e-01,-1.000000e+00,4.006682e-09,2.258435e-06,7.080093e-01,6.412412e-05,1.698417e-14,3.393034e-04
b'LR',8.188322e-04,4.006682e-09,-1.000000e+00,1.000000e+00,1.447493e-16,1.000000e+00,1.000000e+00,1.000000e+00
b'ML',4.855330e-02,2.258435e-06,1.000000e+00,-1.000000e+00,8.123306e-13,1.000000e+00,1.815001e-01,1.000000e+00
b'NB',2.187181e-04,7.080093e-01,1.447493e-16,8.123306e-13,-1.000000e+00,9.328261e-11,1.521025e-23,1.058367e-09
b'RF',3.549838e-01,6.412412e-05,1.000000e+00,1.000000e+00,9.328261e-11,-1.000000e+00,2.166525e-02,1.000000e+00
b'SV',1.338010e-07,1.698417e-14,1.000000e+00,1.815001e-01,1.521025e-23,2.166525e-02,-1.000000e+00,5.745425e-03
b'XG',9.010370e-01,3.393034e-04,1.000000e+00,1.000000e+00,1.058367e-09,1.000000e+00,5.745425e-03,-1.000000e+00

#### LR+ Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [564]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS   ***     *   ***    NS   ***    NS
b'KN'    NS     -   ***   ***    NS   ***   ***   ***
b'LR'   ***   ***     -    NS   ***    NS    NS    NS
b'ML'     *   ***    NS     -   ***    NS    NS    NS
b'NB'   ***    NS   ***   ***     -   ***   ***   ***
b'RF'    NS   ***    NS    NS   ***     -     *    NS
b'SV'   ***   ***    NS    NS   ***     *     -    **
b'XG'    NS   ***    NS    NS   ***    NS    **     -

### LR-

In [565]:
p_df = get_p_df(_dict, 'LR_N')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.000000e+00,1.995982e-04,1.000000e+00,9.181144e-05,1.000000,4.559976e-05,1.000000e+00
b'KN',1.000000,-1.000000e+00,4.031199e-09,1.000000e+00,1.368357e-09,0.597246,5.208665e-10,1.000000e+00
b'LR',0.000200,4.031199e-09,-1.000000e+00,2.024980e-09,1.000000e+00,0.001110,1.000000e+00,1.141788e-06
b'ML',1.000000,1.000000e+00,2.024980e-09,-1.000000e+00,6.760502e-10,0.451318,2.536296e-10,1.000000e+00
b'NB',0.000092,1.368357e-09,1.000000e+00,6.760502e-10,-1.000000e+00,0.000542,1.000000e+00,4.488452e-07
b'RF',1.000000,5.972462e-01,1.110041e-03,4.513183e-01,5.418270e-04,-1.000000,2.834767e-04,1.000000e+00
b'SV',0.000046,5.208665e-10,1.000000e+00,2.536296e-10,1.000000e+00,0.000283,-1.000000e+00,1.942740e-07
b'XG',1.000000,1.000000e+00,1.141788e-06,1.000000e+00,4.488452e-07,1.000000,1.942740e-07,-1.000000e+00

#### LR- Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [566]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS   ***    NS   ***    NS   ***    NS
b'KN'    NS     -   ***    NS   ***    NS   ***    NS
b'LR'   ***   ***     -   ***    NS    **    NS   ***
b'ML'    NS    NS   ***     -   ***    NS   ***    NS
b'NB'   ***   ***    NS   ***     -   ***    NS   ***
b'RF'    NS    NS    **    NS   ***     -   ***    NS
b'SV'   ***   ***    NS   ***    NS   ***     -   ***
b'XG'    NS    NS   ***    NS   ***    NS   ***     -

### DOR

In [567]:
p_df = get_p_df(_dict, 'DOR')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,3.186400e-01,2.516021e-06,1.000000e+00,1.000000e+00,1.000000,2.750676e-08,1.000000
b'KN',3.186400e-01,-1.000000e+00,9.394496e-14,9.701726e-02,1.000000e+00,0.000170,1.532433e-16,0.020320
b'LR',2.516021e-06,9.394496e-14,-1.000000e+00,2.038156e-05,2.482195e-11,0.022406,1.000000e+00,0.000193
b'ML',1.000000e+00,9.701726e-02,2.038156e-05,-1.000000e+00,7.919910e-01,1.000000,2.984653e-07,1.000000
b'NB',1.000000e+00,1.000000e+00,2.482195e-11,7.919910e-01,-1.000000e+00,0.004145,7.024385e-14,0.225499
b'RF',1.000000e+00,1.697361e-04,2.240632e-02,1.000000e+00,4.144810e-03,-1.000000,1.066199e-03,1.000000
b'SV',2.750676e-08,1.532433e-16,1.000000e+00,2.984653e-07,7.024385e-14,0.001066,-1.000000e+00,0.000004
b'XG',1.000000e+00,2.031969e-02,1.927446e-04,1.000000e+00,2.254986e-01,1.000000,3.960175e-06,-1.000000

#### DOR Significance table.

Returns table that can be used in a publication. P values are replaced with astVerisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [568]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS   ***    NS    NS    NS   ***    NS
b'KN'    NS     -   ***    NS    NS   ***   ***     *
b'LR'   ***   ***     -   ***   ***     *    NS   ***
b'ML'    NS    NS   ***     -    NS    NS   ***    NS
b'NB'    NS    NS   ***    NS     -    **   ***    NS
b'RF'    NS   ***     *    NS    **     -    **    NS
b'SV'   ***   ***    NS   ***   ***    **     -   ***
b'XG'    NS     *   ***    NS    NS    NS   ***     -

## SMOTE-Tomek

### F1-Score

In [569]:
_dict = get_dict('SMOTETomek')
p_df = get_p_df(_dict, 'f1_score')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.600798e-01,6.019472e-06,1.000000,3.991094e-02,1.000000,1.417801e-08,1.000000
b'KN',1.600798e-01,-1.000000e+00,5.244612e-14,0.009620,1.000000e+00,0.000309,7.533389e-18,0.012231
b'LR',6.019472e-06,5.244612e-14,-1.000000e+00,0.000349,1.541633e-15,0.010625,1.000000e+00,0.000261
b'ML',1.000000e+00,9.620429e-03,3.487410e-04,-1.000000,1.729986e-03,1.000000,1.858737e-06,1.000000
b'NB',3.991094e-02,1.000000e+00,1.541633e-15,0.001730,-1.000000e+00,0.000040,1.435104e-19,0.002256
b'RF',1.000000e+00,3.094462e-04,1.062498e-02,1.000000,3.991832e-05,-1.000000,1.269965e-04,1.000000
b'SV',1.417801e-08,7.533389e-18,1.000000e+00,0.000002,1.435104e-19,0.000127,-1.000000e+00,0.000001
b'XG',1.000000e+00,1.223110e-02,2.605714e-04,1.000000,2.256361e-03,1.000000,1.304013e-06,-1.000000

#### F1-Score Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [570]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS   ***    NS     *    NS   ***    NS
b'KN'    NS     -   ***    **    NS   ***   ***     *
b'LR'   ***   ***     -   ***   ***     *    NS   ***
b'ML'    NS    **   ***     -    **    NS   ***    NS
b'NB'     *    NS   ***    **     -   ***   ***    **
b'RF'    NS   ***     *    NS   ***     -   ***    NS
b'SV'   ***   ***    NS   ***   ***   ***     -   ***
b'XG'    NS     *   ***    NS    **    NS   ***     -

### Sensitivity

In [571]:
p_df = get_p_df(_dict, 'sensitivity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,3.743656e-01,8.006542e-02,1.766067e-01,1.488365e-08,1.000000e+00,5.290622e-02,2.644072e-01
b'KN',3.743656e-01,-1.000000e+00,1.361956e-06,1.000000e+00,1.076967e-16,1.000000e+00,6.702666e-07,1.000000e+00
b'LR',8.006542e-02,1.361956e-06,-1.000000e+00,3.093243e-07,3.502195e-02,9.536585e-03,1.000000e+00,6.811033e-07
b'ML',1.766067e-01,1.000000e+00,3.093243e-07,-1.000000e+00,1.081316e-17,9.252977e-01,1.475463e-07,1.000000e+00
b'NB',1.488365e-08,1.076967e-16,3.502195e-02,1.081316e-17,-1.000000e+00,2.745494e-10,5.374446e-02,3.661464e-17
b'RF',1.000000e+00,1.000000e+00,9.536585e-03,9.252977e-01,2.745494e-10,-1.000000e+00,5.874497e-03,1.000000e+00
b'SV',5.290622e-02,6.702666e-07,1.000000e+00,1.475463e-07,5.374446e-02,5.874497e-03,-1.000000e+00,3.302808e-07
b'XG',2.644072e-01,1.000000e+00,6.811033e-07,1.000000e+00,3.661464e-17,1.000000e+00,3.302808e-07,-1.000000e+00

#### Sensitivity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [572]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS   ***    NS    NS    NS
b'KN'    NS     -   ***    NS   ***    NS   ***    NS
b'LR'    NS   ***     -   ***     *    **    NS   ***
b'ML'    NS    NS   ***     -   ***    NS   ***    NS
b'NB'   ***   ***     *   ***     -   ***    NS   ***
b'RF'    NS    NS    **    NS   ***     -    **    NS
b'SV'    NS   ***    NS   ***    NS    **     -   ***
b'XG'    NS    NS   ***    NS   ***    NS   ***     -

### Specificity

In [573]:
p_df = get_p_df(_dict, 'specificity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.000000e+00,3.451225e-02,9.680011e-08,2.088384e-03,6.345707e-01,2.251944e-06,2.544548e-03
b'KN',1.000000e+00,-1.000000e+00,4.591826e-05,2.238274e-12,4.602986e-01,3.427969e-03,1.192442e-10,1.218881e-06
b'LR',3.451225e-02,4.591826e-05,-1.000000e+00,2.079718e-01,1.782593e-11,1.000000e+00,9.174513e-01,1.000000e+00
b'ML',9.680011e-08,2.238274e-12,2.079718e-01,-1.000000e+00,1.581467e-21,7.960187e-03,1.000000e+00,1.000000e+00
b'NB',2.088384e-03,4.602986e-01,1.782593e-11,1.581467e-21,-1.000000e+00,1.223407e-08,3.039898e-19,9.547933e-14
b'RF',6.345707e-01,3.427969e-03,1.000000e+00,7.960187e-03,1.223407e-08,-1.000000e+00,5.659259e-02,1.000000e+00
b'SV',2.251944e-06,1.192442e-10,9.174513e-01,1.000000e+00,3.039898e-19,5.659259e-02,-1.000000e+00,1.000000e+00
b'XG',2.544548e-03,1.218881e-06,1.000000e+00,1.000000e+00,9.547933e-14,1.000000e+00,1.000000e+00,-1.000000e+00

#### Specificity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [574]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS     *   ***    **    NS   ***    **
b'KN'    NS     -   ***   ***    NS    **   ***   ***
b'LR'     *   ***     -    NS   ***    NS    NS    NS
b'ML'   ***   ***    NS     -   ***    **    NS    NS
b'NB'    **    NS   ***   ***     -   ***   ***   ***
b'RF'    NS    **    NS    **   ***     -    NS    NS
b'SV'   ***   ***    NS    NS   ***    NS     -    NS
b'XG'    **   ***    NS    NS   ***    NS    NS     -

### LR+

In [575]:
p_df = get_p_df(_dict, 'LR_P')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.000000e+00,3.856728e-05,8.564542e-04,1.719903e-03,6.995469e-01,1.811086e-09,1.272598e-01
b'KN',1.000000e+00,-1.000000e+00,7.022712e-10,5.077669e-08,8.559649e-01,1.227271e-03,1.518381e-15,7.943861e-05
b'LR',3.856728e-05,7.022712e-10,-1.000000e+00,1.000000e+00,2.789867e-17,2.714032e-01,1.000000e+00,1.000000e+00
b'ML',8.564542e-04,5.077669e-08,1.000000e+00,-1.000000e+00,8.194390e-15,1.000000e+00,5.069567e-01,1.000000e+00
b'NB',1.719903e-03,8.559649e-01,2.789867e-17,8.194390e-15,-1.000000e+00,1.157234e-08,1.585906e-24,2.142857e-10
b'RF',6.995469e-01,1.227271e-03,2.714032e-01,1.000000e+00,1.157234e-08,-1.000000e+00,4.983842e-04,1.000000e+00
b'SV',1.811086e-09,1.518381e-15,1.000000e+00,5.069567e-01,1.585906e-24,4.983842e-04,-1.000000e+00,6.160013e-03
b'XG',1.272598e-01,7.943861e-05,1.000000e+00,1.000000e+00,2.142857e-10,1.000000e+00,6.160013e-03,-1.000000e+00

#### LR+ Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [576]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS   ***   ***    **    NS   ***    NS
b'KN'    NS     -   ***   ***    NS    **   ***   ***
b'LR'   ***   ***     -    NS   ***    NS    NS    NS
b'ML'   ***   ***    NS     -   ***    NS    NS    NS
b'NB'    **    NS   ***   ***     -   ***   ***   ***
b'RF'    NS    **    NS    NS   ***     -   ***    NS
b'SV'   ***   ***    NS    NS   ***   ***     -    **
b'XG'    NS   ***    NS    NS   ***    NS    **     -

### LR-

In [577]:
p_df = get_p_df(_dict, 'LR_N')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.364424e-01,2.703754e-04,1.000000e+00,5.486492e-04,1.000000,1.634361e-05,1.000000e+00
b'KN',0.136442,-1.000000e+00,1.255892e-11,1.000000e+00,3.899547e-11,0.110881,1.577946e-13,1.000000e+00
b'LR',0.000270,1.255892e-11,-1.000000e+00,4.821925e-08,1.000000e+00,0.000366,1.000000e+00,2.139282e-08
b'ML',1.000000,1.000000e+00,4.821925e-08,-1.000000e+00,1.244080e-07,1.000000,1.199882e-09,1.000000e+00
b'NB',0.000549,3.899547e-11,1.000000e+00,1.244080e-07,-1.000000e+00,0.000736,1.000000e+00,5.629417e-08
b'RF',1.000000,1.108809e-01,3.663148e-04,1.000000e+00,7.360637e-04,-1.000000,2.296303e-05,1.000000e+00
b'SV',0.000016,1.577946e-13,1.000000e+00,1.199882e-09,1.000000e+00,0.000023,-1.000000e+00,4.949492e-10
b'XG',1.000000,1.000000e+00,2.139282e-08,1.000000e+00,5.629417e-08,1.000000,4.949492e-10,-1.000000e+00

#### LR- Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [578]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS   ***    NS   ***    NS   ***    NS
b'KN'    NS     -   ***    NS   ***    NS   ***    NS
b'LR'   ***   ***     -   ***    NS   ***    NS   ***
b'ML'    NS    NS   ***     -   ***    NS   ***    NS
b'NB'   ***   ***    NS   ***     -   ***    NS   ***
b'RF'    NS    NS   ***    NS   ***     -   ***    NS
b'SV'   ***   ***    NS   ***    NS   ***     -   ***
b'XG'    NS    NS   ***    NS   ***    NS   ***     -

### DOR

In [579]:
p_df = get_p_df(_dict, 'DOR')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,7.714004e-02,1.430578e-06,1.000000,1.000000e+00,1.000000,4.665657e-09,1.000000e+00
b'KN',7.714004e-02,-1.000000e+00,8.787429e-16,0.001457,1.000000e+00,0.000153,1.792957e-19,8.292723e-03
b'LR',1.430578e-06,8.787429e-16,-1.000000e+00,0.000310,2.415857e-11,0.002742,1.000000e+00,3.966212e-05
b'ML',1.000000e+00,1.456826e-03,3.101946e-04,-1.000000,1.639314e-01,1.000000,2.648458e-06,1.000000e+00
b'NB',1.000000e+00,1.000000e+00,2.415857e-11,0.163931,-1.000000e+00,0.031740,1.634836e-14,5.573597e-01
b'RF',1.000000e+00,1.533814e-04,2.741669e-03,1.000000,3.173959e-02,-1.000000,3.680684e-05,1.000000e+00
b'SV',4.665657e-09,1.792957e-19,1.000000e+00,0.000003,1.634836e-14,0.000037,-1.000000e+00,2.292993e-07
b'XG',1.000000e+00,8.292723e-03,3.966212e-05,1.000000,5.573597e-01,1.000000,2.292993e-07,-1.000000e+00

#### DOR Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [580]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS   ***    NS    NS    NS   ***    NS
b'KN'    NS     -   ***    **    NS   ***   ***    **
b'LR'   ***   ***     -   ***   ***    **    NS   ***
b'ML'    NS    **   ***     -    NS    NS   ***    NS
b'NB'    NS    NS   ***    NS     -     *   ***    NS
b'RF'    NS   ***    **    NS     *     -   ***    NS
b'SV'   ***   ***    NS   ***   ***   ***     -   ***
b'XG'    NS    **   ***    NS    NS    NS   ***     -

# FLEURY DataSet

## ADASYN

### F1-Score

In [581]:
dataset = 'FLEURY'
file_path = f'{workspace}/{dataset}'

_dict = get_dict('ADASYN')
p_df = get_p_df(_dict, 'f1_score')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,6.408283e-01,1.194027e-04,1.000000e+00,0.467392,3.871231e-06,1.210113e-04,1.000000
b'KN',0.640828,-1.000000e+00,1.755519e-10,1.000000e+00,0.000085,1.287291e-12,1.790194e-10,0.062532
b'LR',0.000119,1.755519e-10,-1.000000e+00,2.543789e-05,0.769398,1.000000e+00,1.000000e+00,0.003797
b'ML',1.000000,1.000000e+00,2.543789e-05,-1.000000e+00,0.190771,6.735520e-07,2.580227e-05,1.000000
b'NB',0.467392,8.485875e-05,7.693980e-01,1.907712e-01,-1.000000,1.134370e-01,7.749000e-01,1.000000
b'RF',0.000004,1.287291e-12,1.000000e+00,6.735520e-07,0.113437,-1.000000e+00,1.000000e+00,0.000204
b'SV',0.000121,1.790194e-10,1.000000e+00,2.580227e-05,0.774900,1.000000e+00,-1.000000e+00,0.003840
b'XG',1.000000,6.253197e-02,3.796690e-03,1.000000e+00,1.000000,2.036315e-04,3.839818e-03,-1.000000

#### F1-Score Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [582]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS   ***    NS    NS   ***   ***    NS
b'KN'    NS     -   ***    NS   ***   ***   ***    NS
b'LR'   ***   ***     -   ***    NS    NS    NS    **
b'ML'    NS    NS   ***     -    NS   ***   ***    NS
b'NB'    NS   ***    NS    NS     -    NS    NS    NS
b'RF'   ***   ***    NS   ***    NS     -    NS   ***
b'SV'   ***   ***    NS   ***    NS    NS     -    **
b'XG'    NS    NS    **    NS    NS   ***    **     -

### Sensitivity

In [583]:
p_df = get_p_df(_dict, 'sensitivity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,3.564485e-02,1.000000,2.612653e-03,3.909541e-05,1.000000,1.000000,1.000000
b'KN',0.035645,-1.000000e+00,0.000278,1.000000e+00,2.365520e-14,0.000601,0.000492,0.004017
b'LR',1.000000,2.781614e-04,-1.000000,9.312864e-06,7.968738e-03,1.000000,1.000000,1.000000
b'ML',0.002613,1.000000e+00,0.000009,-1.000000e+00,6.950297e-17,0.000023,0.000018,0.000202
b'NB',0.000039,2.365520e-14,0.007969,6.950297e-17,-1.000000e+00,0.004078,0.004879,0.000611
b'RF',1.000000,6.009207e-04,1.000000,2.250106e-05,4.077548e-03,-1.000000,1.000000,1.000000
b'SV',1.000000,4.917598e-04,1.000000,1.787854e-05,4.878564e-03,1.000000,-1.000000,1.000000
b'XG',1.000000,4.016713e-03,1.000000,2.017717e-04,6.109913e-04,1.000000,1.000000,-1.000000

#### Sensitivity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [584]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -     *    NS    **   ***    NS    NS    NS
b'KN'     *     -   ***    NS   ***   ***   ***    **
b'LR'    NS   ***     -   ***    **    NS    NS    NS
b'ML'    **    NS   ***     -   ***   ***   ***   ***
b'NB'   ***   ***    **   ***     -    **    **   ***
b'RF'    NS   ***    NS   ***    **     -    NS    NS
b'SV'    NS   ***    NS   ***    **    NS     -    NS
b'XG'    NS    **    NS   ***   ***    NS    NS     -

### Specificity

In [585]:
p_df = get_p_df(_dict, 'specificity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.000000e+00,7.533656e-03,1.171919e-07,2.150471e-01,5.890632e-04,3.258822e-03,1.000000
b'KN',1.000000e+00,-1.000000e+00,1.283897e-02,2.695595e-07,1.407400e-01,1.088541e-03,5.710158e-03,1.000000
b'LR',7.533656e-03,1.283897e-02,-1.000000e+00,7.148309e-01,7.852799e-09,1.000000e+00,1.000000e+00,0.042690
b'ML',1.171919e-07,2.695595e-07,7.148309e-01,-1.000000e+00,3.677581e-16,1.000000e+00,1.000000e+00,0.000002
b'NB',2.150471e-01,1.407400e-01,7.852799e-09,3.677581e-16,-1.000000e+00,1.270037e-10,1.976134e-09,0.047425
b'RF',5.890632e-04,1.088541e-03,1.000000e+00,1.000000e+00,1.270037e-10,-1.000000e+00,1.000000e+00,0.004389
b'SV',3.258822e-03,5.710158e-03,1.000000e+00,1.000000e+00,1.976134e-09,1.000000e+00,-1.000000e+00,0.020284
b'XG',1.000000e+00,1.000000e+00,4.268963e-02,1.832472e-06,4.742515e-02,4.388845e-03,2.028361e-02,-1.000000

#### Specificity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [586]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    **   ***    NS   ***    **    NS
b'KN'    NS     -     *   ***    NS    **    **    NS
b'LR'    **     *     -    NS   ***    NS    NS     *
b'ML'   ***   ***    NS     -   ***    NS    NS   ***
b'NB'    NS    NS   ***   ***     -   ***   ***     *
b'RF'   ***    **    NS    NS   ***     -    NS    **
b'SV'    **    **    NS    NS   ***    NS     -     *
b'XG'    NS    NS     *   ***     *    **     *     -

### LR+

In [587]:
p_df = get_p_df(_dict, 'LR_P')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.000000e+00,7.381983e-05,0.001433,1.000000e+00,9.789847e-07,5.766679e-05,1.000000
b'KN',1.000000e+00,-1.000000e+00,7.478762e-08,0.000003,1.000000e+00,3.658081e-10,5.496149e-08,1.000000
b'LR',7.381983e-05,7.478762e-08,-1.000000e+00,1.000000,5.272519e-06,1.000000e+00,1.000000e+00,0.002925
b'ML',1.433155e-03,3.180777e-06,1.000000e+00,-1.000000,1.409318e-04,1.000000e+00,1.000000e+00,0.034315
b'NB',1.000000e+00,1.000000e+00,5.272519e-06,0.000141,-1.000000e+00,4.653475e-08,4.017433e-06,1.000000
b'RF',9.789847e-07,3.658081e-10,1.000000e+00,1.000000,4.653475e-08,-1.000000e+00,1.000000e+00,0.000074
b'SV',5.766679e-05,5.496149e-08,1.000000e+00,1.000000,4.017433e-06,1.000000e+00,-1.000000e+00,0.002376
b'XG',1.000000e+00,1.000000e+00,2.924755e-03,0.034315,1.000000e+00,7.381983e-05,2.376401e-03,-1.000000

#### LR+ Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [588]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS   ***    **    NS   ***   ***    NS
b'KN'    NS     -   ***   ***    NS   ***   ***    NS
b'LR'   ***   ***     -    NS   ***    NS    NS    **
b'ML'    **   ***    NS     -   ***    NS    NS     *
b'NB'    NS    NS   ***   ***     -   ***   ***    NS
b'RF'   ***   ***    NS    NS   ***     -    NS   ***
b'SV'   ***   ***    NS    NS   ***    NS     -    **
b'XG'    NS    NS    **     *    NS   ***    **     -

### LR-

In [589]:
p_df = get_p_df(_dict, 'LR_N')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,7.036580e-02,6.993478e-02,9.371776e-01,1.876968e-04,3.051017e-02,1.073214e-01,1.000000
b'KN',0.070366,-1.000000e+00,4.173438e-08,1.000000e+00,1.480048e-12,9.000911e-09,9.385579e-08,0.003511
b'LR',0.069935,4.173438e-08,-1.000000e+00,7.293016e-06,1.000000e+00,1.000000e+00,1.000000e+00,0.758805
b'ML',0.937178,1.000000e+00,7.293016e-06,-1.000000e+00,9.444855e-10,1.943537e-06,1.462034e-05,0.091916
b'NB',0.000188,1.480048e-12,1.000000e+00,9.444855e-10,-1.000000e+00,1.000000e+00,1.000000e+00,0.006295
b'RF',0.030510,9.000911e-09,1.000000e+00,1.943537e-06,1.000000e+00,-1.000000e+00,1.000000e+00,0.396961
b'SV',0.107321,9.385579e-08,1.000000e+00,1.462034e-05,1.000000e+00,1.000000e+00,-1.000000e+00,1.000000
b'XG',1.000000,3.511286e-03,7.588053e-01,9.191608e-02,6.295391e-03,3.969609e-01,1.000000e+00,-1.000000

#### LR- Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [590]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS   ***     *    NS    NS
b'KN'    NS     -   ***    NS   ***   ***   ***    **
b'LR'    NS   ***     -   ***    NS    NS    NS    NS
b'ML'    NS    NS   ***     -   ***   ***   ***    NS
b'NB'   ***   ***    NS   ***     -    NS    NS    **
b'RF'     *   ***    NS   ***    NS     -    NS    NS
b'SV'    NS   ***    NS   ***    NS    NS     -    NS
b'XG'    NS    **    NS    NS    **    NS    NS     -

### DOR

In [591]:
p_df = get_p_df(_dict, 'DOR')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,6.226252e-01,2.293786e-04,1.000000,0.063559,2.451585e-06,2.501281e-04,1.000000
b'KN',0.622625,-1.000000e+00,4.243548e-10,0.067819,0.000003,6.219687e-13,4.822676e-10,0.036863
b'LR',0.000229,4.243548e-10,-1.000000e+00,0.005724,1.000000,1.000000e+00,1.000000e+00,0.011459
b'ML',1.000000,6.781907e-02,5.723619e-03,-1.000000,0.591369,1.159266e-04,6.159216e-03,1.000000
b'NB',0.063559,2.620755e-06,1.000000e+00,0.591369,-1.000000,6.031110e-01,1.000000e+00,0.937202
b'RF',0.000002,6.219687e-13,1.000000e+00,0.000116,0.603111,-1.000000e+00,1.000000e+00,0.000270
b'SV',0.000250,4.822676e-10,1.000000e+00,0.006159,1.000000,1.000000e+00,-1.000000e+00,0.012292
b'XG',1.000000,3.686289e-02,1.145876e-02,1.000000,0.937202,2.703261e-04,1.229198e-02,-1.000000

#### DOR Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [592]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS   ***    NS    NS   ***   ***    NS
b'KN'    NS     -   ***    NS   ***   ***   ***     *
b'LR'   ***   ***     -    **    NS    NS    NS     *
b'ML'    NS    NS    **     -    NS   ***    **    NS
b'NB'    NS   ***    NS    NS     -    NS    NS    NS
b'RF'   ***   ***    NS   ***    NS     -    NS   ***
b'SV'   ***   ***    NS    **    NS    NS     -     *
b'XG'    NS     *     *    NS    NS   ***     *     -

## ORIGINAL

### F1-Score

In [593]:
_dict = get_dict('ORIGINAL')
p_df = get_p_df(_dict, 'f1_score')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,4.110057e-02,1.000000e+00,1.000000,4.551243e-06,1.000000e+00,1.000000e+00,1.000000
b'KN',0.041101,-1.000000e+00,5.156734e-01,0.001752,1.065807e-15,1.000000e+00,1.000000e+00,0.004033
b'LR',1.000000,5.156734e-01,-1.000000e+00,1.000000,3.774042e-08,1.000000e+00,1.000000e+00,1.000000
b'ML',1.000000,1.751736e-03,1.000000e+00,-1.000000,2.818111e-04,2.500625e-01,1.000000e+00,1.000000
b'NB',0.000005,1.065807e-15,3.774042e-08,0.000282,-1.000000e+00,5.763459e-11,3.688727e-09,0.000109
b'RF',1.000000,1.000000e+00,1.000000e+00,0.250062,5.763459e-11,-1.000000e+00,1.000000e+00,0.443111
b'SV',1.000000,1.000000e+00,1.000000e+00,1.000000,3.688727e-09,1.000000e+00,-1.000000e+00,1.000000
b'XG',1.000000,4.032581e-03,1.000000e+00,1.000000,1.087217e-04,4.431108e-01,1.000000e+00,-1.000000

#### F1-Score Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [594]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -     *    NS    NS   ***    NS    NS    NS
b'KN'     *     -    NS    **   ***    NS    NS    **
b'LR'    NS    NS     -    NS   ***    NS    NS    NS
b'ML'    NS    **    NS     -   ***    NS    NS    NS
b'NB'   ***   ***   ***   ***     -   ***   ***   ***
b'RF'    NS    NS    NS    NS   ***     -    NS    NS
b'SV'    NS    NS    NS    NS   ***    NS     -    NS
b'XG'    NS    **    NS    NS   ***    NS    NS     -

### Sensitivity

In [595]:
p_df = get_p_df(_dict, 'sensitivity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,7.627266e-06,3.485938e-01,1.000000,2.223235e-04,3.752248e-03,1.228813e-02,1.000000
b'KN',0.000008,-1.000000e+00,2.304492e-01,0.000056,2.063255e-20,1.000000e+00,1.000000e+00,0.000002
b'LR',0.348594,2.304492e-01,-1.000000e+00,0.975869,9.135117e-11,1.000000e+00,1.000000e+00,0.149503
b'ML',1.000000,5.624553e-05,9.758694e-01,-1.000000,3.356295e-05,1.690600e-02,4.953632e-02,1.000000
b'NB',0.000222,2.063255e-20,9.135117e-11,0.000034,-1.000000e+00,3.285886e-15,4.020657e-14,0.000816
b'RF',0.003752,1.000000e+00,1.000000e+00,0.016906,3.285886e-15,-1.000000e+00,1.000000e+00,0.001129
b'SV',0.012288,1.000000e+00,1.000000e+00,0.049536,4.020657e-14,1.000000e+00,-1.000000e+00,0.004015
b'XG',1.000000,1.593164e-06,1.495030e-01,1.000000,8.158195e-04,1.128897e-03,4.015377e-03,-1.000000

#### Sensitivity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [596]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -   ***    NS    NS   ***    **     *    NS
b'KN'   ***     -    NS   ***   ***    NS    NS   ***
b'LR'    NS    NS     -    NS   ***    NS    NS    NS
b'ML'    NS   ***    NS     -   ***     *     *    NS
b'NB'   ***   ***   ***   ***     -   ***   ***   ***
b'RF'    **    NS    NS     *   ***     -    NS    **
b'SV'     *    NS    NS     *   ***    NS     -    **
b'XG'    NS   ***    NS    NS   ***    **    **     -

### Specificity

In [597]:
p_df = get_p_df(_dict, 'specificity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,2.211920e-11,9.590866e-06,0.029891,1.000000e+00,4.895956e-10,3.185292e-09,1.000000e+00
b'KN',2.211920e-11,-1.000000e+00,1.000000e+00,0.002798,8.470548e-19,1.000000e+00,1.000000e+00,3.485606e-08
b'LR',9.590866e-06,1.000000e+00,-1.000000e+00,1.000000,2.367210e-11,1.000000e+00,1.000000e+00,1.701023e-03
b'ML',2.989098e-02,2.797731e-03,1.000000e+00,-1.000000,2.791552e-06,1.549318e-02,4.190545e-02,8.118325e-01
b'NB',1.000000e+00,8.470548e-19,2.367210e-11,0.000003,-1.000000e+00,4.545262e-17,5.190477e-16,4.671057e-02
b'RF',4.895956e-10,1.000000e+00,1.000000e+00,0.015493,4.545262e-17,-1.000000e+00,1.000000e+00,4.842687e-07
b'SV',3.185292e-09,1.000000e+00,1.000000e+00,0.041905,5.190477e-16,1.000000e+00,-1.000000e+00,2.344375e-06
b'XG',1.000000e+00,3.485606e-08,1.701023e-03,0.811832,4.671057e-02,4.842687e-07,2.344375e-06,-1.000000e+00

#### Specificity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [598]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -   ***   ***     *    NS   ***   ***    NS
b'KN'   ***     -    NS    **   ***    NS    NS   ***
b'LR'   ***    NS     -    NS   ***    NS    NS    **
b'ML'     *    **    NS     -   ***     *     *    NS
b'NB'    NS   ***   ***   ***     -   ***   ***     *
b'RF'   ***    NS    NS     *   ***     -    NS   ***
b'SV'   ***    NS    NS     *   ***    NS     -   ***
b'XG'    NS   ***    **    NS     *   ***   ***     -

### LR+

In [599]:
p_df = get_p_df(_dict, 'LR_P')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,2.136136e-11,6.969956e-07,0.000783,1.000000e+00,3.315198e-11,1.843432e-10,1.000000
b'KN',2.136136e-11,-1.000000e+00,1.000000e+00,0.081217,5.953938e-12,1.000000e+00,1.000000e+00,0.000003
b'LR',6.969956e-07,1.000000e+00,-1.000000e+00,1.000000,2.544160e-07,1.000000e+00,1.000000e+00,0.006113
b'ML',7.825181e-04,8.121702e-02,1.000000e+00,-1.000000,3.600053e-04,9.875233e-02,2.081017e-01,0.581223
b'NB',1.000000e+00,5.953938e-12,2.544160e-07,0.000360,-1.000000e+00,9.335676e-12,5.407864e-11,1.000000
b'RF',3.315198e-11,1.000000e+00,1.000000e+00,0.098752,9.335676e-12,-1.000000e+00,1.000000e+00,0.000005
b'SV',1.843432e-10,1.000000e+00,1.000000e+00,0.208102,5.407864e-11,1.000000e+00,-1.000000e+00,0.000017
b'XG',1.000000e+00,3.416670e-06,6.113407e-03,0.581223,1.000000e+00,4.746225e-06,1.697727e-05,-1.000000

#### LR+ Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [600]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -   ***   ***   ***    NS   ***   ***    NS
b'KN'   ***     -    NS    NS   ***    NS    NS   ***
b'LR'   ***    NS     -    NS   ***    NS    NS    **
b'ML'   ***    NS    NS     -   ***    NS    NS    NS
b'NB'    NS   ***   ***   ***     -   ***   ***    NS
b'RF'   ***    NS    NS    NS   ***     -    NS   ***
b'SV'   ***    NS    NS    NS   ***    NS     -   ***
b'XG'    NS   ***    **    NS    NS   ***   ***     -

### LR-

In [601]:
p_df = get_p_df(_dict, 'LR_N')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,7.227930e-03,1.000000e+00,1.000000,2.110509e-06,5.081536e-01,1.000000e+00,1.000000
b'KN',0.007228,-1.000000e+00,5.628291e-01,0.001428,4.723709e-18,1.000000e+00,1.000000e+00,0.001267
b'LR',1.000000,5.628291e-01,-1.000000e+00,1.000000,5.545469e-10,1.000000e+00,1.000000e+00,1.000000
b'ML',1.000000,1.427595e-03,1.000000e+00,-1.000000,1.772599e-05,1.620447e-01,6.489140e-01,1.000000
b'NB',0.000002,4.723709e-18,5.545469e-10,0.000018,-1.000000e+00,2.774050e-13,1.155177e-11,0.000020
b'RF',0.508154,1.000000e+00,1.000000e+00,0.162045,2.774050e-13,-1.000000e+00,1.000000e+00,0.148731
b'SV',1.000000,1.000000e+00,1.000000e+00,0.648914,1.155177e-11,1.000000e+00,-1.000000e+00,0.603057
b'XG',1.000000,1.266674e-03,1.000000e+00,1.000000,2.046689e-05,1.487315e-01,6.030570e-01,-1.000000

#### LR- Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [602]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    **    NS    NS   ***    NS    NS    NS
b'KN'    **     -    NS    **   ***    NS    NS    **
b'LR'    NS    NS     -    NS   ***    NS    NS    NS
b'ML'    NS    **    NS     -   ***    NS    NS    NS
b'NB'   ***   ***   ***   ***     -   ***   ***   ***
b'RF'    NS    NS    NS    NS   ***     -    NS    NS
b'SV'    NS    NS    NS    NS   ***    NS     -    NS
b'XG'    NS    **    NS    NS   ***    NS    NS     -

### DOR

In [603]:
p_df = get_p_df(_dict, 'DOR')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,3.437929e-07,0.000505,0.007022,0.000405,4.658837e-07,5.506116e-07,1.000000
b'KN',3.437929e-07,-1.000000e+00,1.000000,1.000000,1.000000,1.000000e+00,1.000000e+00,0.002648
b'LR',5.045070e-04,1.000000e+00,-1.000000,1.000000,1.000000,1.000000e+00,1.000000e+00,0.351239
b'ML',7.021808e-03,1.000000e+00,1.000000,-1.000000,1.000000,1.000000e+00,1.000000e+00,1.000000
b'NB',4.053883e-04,1.000000e+00,1.000000,1.000000,-1.000000,1.000000e+00,1.000000e+00,0.306152
b'RF',4.658837e-07,1.000000e+00,1.000000,1.000000,1.000000,-1.000000e+00,1.000000e+00,0.003279
b'SV',5.506116e-07,1.000000e+00,1.000000,1.000000,1.000000,1.000000e+00,-1.000000e+00,0.003688
b'XG',1.000000e+00,2.647762e-03,0.351239,1.000000,0.306152,3.279491e-03,3.687798e-03,-1.000000

#### DOR Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [604]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -   ***   ***    **   ***   ***   ***    NS
b'KN'   ***     -    NS    NS    NS    NS    NS    **
b'LR'   ***    NS     -    NS    NS    NS    NS    NS
b'ML'    **    NS    NS     -    NS    NS    NS    NS
b'NB'   ***    NS    NS    NS     -    NS    NS    NS
b'RF'   ***    NS    NS    NS    NS     -    NS    **
b'SV'   ***    NS    NS    NS    NS    NS     -    **
b'XG'    NS    **    NS    NS    NS    **    **     -

## ROS

### F1-Score

In [605]:
_dict = get_dict('ROS')
p_df = get_p_df(_dict, 'f1_score')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,0.000236,0.004446,1.000000e+00,0.057869,2.416813e-09,0.000022,1.000000e+00
b'KN',2.362154e-04,-1.000000,1.000000,8.965002e-05,1.000000,1.000000e+00,1.000000,6.884289e-04
b'LR',4.446205e-03,1.000000,-1.000000,1.925346e-03,1.000000,1.871112e-01,1.000000,1.113344e-02
b'ML',1.000000e+00,0.000090,0.001925,-1.000000e+00,0.028647,6.130679e-10,0.000008,1.000000e+00
b'NB',5.786889e-02,1.000000,1.000000,2.864658e-02,-1.000000,1.827695e-02,1.000000,1.242635e-01
b'RF',2.416813e-09,1.000000,0.187111,6.130679e-10,0.018277,-1.000000e+00,1.000000,1.120773e-08
b'SV',2.217864e-05,1.000000,1.000000,7.654520e-06,1.000000,1.000000e+00,-1.000000,7.211299e-05
b'XG',1.000000e+00,0.000688,0.011133,1.000000e+00,0.124263,1.120773e-08,0.000072,-1.000000e+00

#### F1-Score Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [606]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -   ***    **    NS    NS   ***   ***    NS
b'KN'   ***     -    NS   ***    NS    NS    NS   ***
b'LR'    **    NS     -    **    NS    NS    NS     *
b'ML'    NS   ***    **     -     *   ***   ***    NS
b'NB'    NS    NS    NS     *     -     *    NS    NS
b'RF'   ***    NS    NS   ***     *     -    NS   ***
b'SV'   ***    NS    NS   ***    NS    NS     -   ***
b'XG'    NS   ***     *    NS    NS   ***   ***     -

### Sensitivity

In [607]:
p_df = get_p_df(_dict, 'sensitivity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,0.460542,0.048819,8.001075e-01,2.896441e-10,0.033067,2.375026e-02,6.898626e-01
b'KN',4.605423e-01,-1.000000,1.000000,1.252327e-04,2.992079e-04,1.000000,1.000000e+00,9.482840e-05
b'LR',4.881933e-02,1.000000,-1.000000,2.904579e-06,6.768414e-03,1.000000,1.000000e+00,2.111333e-06
b'ML',8.001075e-01,0.000125,0.000003,-1.000000e+00,6.864516e-18,0.000002,9.180716e-07,1.000000e+00
b'NB',2.896441e-10,0.000299,0.006768,6.864516e-18,-1.000000e+00,0.010456,1.484275e-02,4.052565e-18
b'RF',3.306710e-02,1.000000,1.000000,1.553917e-06,1.045576e-02,-1.000000,1.000000e+00,1.122425e-06
b'SV',2.375026e-02,1.000000,1.000000,9.180716e-07,1.484275e-02,1.000000,-1.000000e+00,6.596839e-07
b'XG',6.898626e-01,0.000095,0.000002,1.000000e+00,4.052565e-18,0.000001,6.596839e-07,-1.000000e+00

#### Sensitivity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [608]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS     *    NS   ***     *     *    NS
b'KN'    NS     -    NS   ***   ***    NS    NS   ***
b'LR'     *    NS     -   ***    **    NS    NS   ***
b'ML'    NS   ***   ***     -   ***   ***   ***    NS
b'NB'   ***   ***    **   ***     -     *     *   ***
b'RF'     *    NS    NS   ***     *     -    NS   ***
b'SV'     *    NS    NS   ***     *    NS     -   ***
b'XG'    NS   ***   ***    NS   ***   ***   ***     -

### Specificity

In [609]:
p_df = get_p_df(_dict, 'specificity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,8.078806e-01,1.000000,1.034949e-04,5.836759e-03,1.763500e-04,1.000000,8.641887e-05
b'KN',0.807881,-1.000000e+00,0.549527,4.086562e-01,1.055267e-07,5.536377e-01,1.000000,3.683923e-01
b'LR',1.000000,5.495265e-01,-1.000000,5.014277e-05,1.035983e-02,8.681073e-05,1.000000,4.164789e-05
b'ML',0.000103,4.086562e-01,0.000050,-1.000000e+00,2.146013e-15,1.000000e+00,0.039921,1.000000e+00
b'NB',0.005837,1.055267e-07,0.010360,2.146013e-15,-1.000000e+00,5.480628e-15,0.000007,1.565715e-15
b'RF',0.000176,5.536377e-01,0.000087,1.000000e+00,5.480628e-15,-1.000000e+00,0.058402,1.000000e+00
b'SV',1.000000,1.000000e+00,1.000000,3.992141e-02,7.414012e-06,5.840215e-02,-1.000000,3.507579e-02
b'XG',0.000086,3.683923e-01,0.000042,1.000000e+00,1.565715e-15,1.000000e+00,0.035076,-1.000000e+00

#### Specificity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [610]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS   ***    **   ***    NS   ***
b'KN'    NS     -    NS    NS   ***    NS    NS    NS
b'LR'    NS    NS     -   ***     *   ***    NS   ***
b'ML'   ***    NS   ***     -   ***    NS     *    NS
b'NB'    **   ***     *   ***     -   ***   ***   ***
b'RF'   ***    NS   ***    NS   ***     -    NS    NS
b'SV'    NS    NS    NS     *   ***    NS     -     *
b'XG'   ***    NS   ***    NS   ***    NS     *     -

### LR+

In [611]:
p_df = get_p_df(_dict, 'LR_P')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,0.000311,0.410471,0.021514,1.000000e+00,8.438158e-11,0.001324,0.011619
b'KN',3.113773e-04,-1.000000,1.000000,1.000000,1.153033e-06,2.742982e-01,1.000000,1.000000
b'LR',4.104712e-01,1.000000,-1.000000,1.000000,1.153740e-02,1.602170e-04,1.000000,1.000000
b'ML',2.151372e-02,1.000000,1.000000,-1.000000,2.343352e-04,8.470498e-03,1.000000,1.000000
b'NB',1.000000e+00,0.000001,0.011537,0.000234,-1.000000e+00,1.990204e-14,0.000007,0.000106
b'RF',8.438158e-11,0.274298,0.000160,0.008470,1.990204e-14,-1.000000e+00,0.101733,0.015889
b'SV',1.323575e-03,1.000000,1.000000,1.000000,6.903807e-06,1.017326e-01,-1.000000,1.000000
b'XG',1.161880e-02,1.000000,1.000000,1.000000,1.064428e-04,1.588920e-02,1.000000,-1.000000

#### LR+ Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [612]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -   ***    NS     *    NS   ***    **     *
b'KN'   ***     -    NS    NS   ***    NS    NS    NS
b'LR'    NS    NS     -    NS     *   ***    NS    NS
b'ML'     *    NS    NS     -   ***    **    NS    NS
b'NB'    NS   ***     *   ***     -   ***   ***   ***
b'RF'   ***    NS   ***    **   ***     -    NS     *
b'SV'    **    NS    NS    NS   ***    NS     -    NS
b'XG'     *    NS    NS    NS   ***     *    NS     -

### LR-

In [613]:
p_df = get_p_df(_dict, 'LR_N')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,0.009199,0.006674,1.000000e+00,2.145293e-07,9.567617e-06,0.000376,1.000000e+00
b'KN',9.198633e-03,-1.000000,1.000000,9.558894e-05,8.108784e-01,1.000000e+00,1.000000,1.138679e-04
b'LR',6.674045e-03,1.000000,-1.000000,6.381553e-05,9.972547e-01,1.000000e+00,1.000000,7.623869e-05
b'ML',1.000000e+00,0.000096,0.000064,-1.000000e+00,2.407022e-10,2.150957e-08,0.000002,1.000000e+00
b'NB',2.145293e-07,0.810878,0.997255,2.407022e-10,-1.000000e+00,1.000000e+00,1.000000,3.097045e-10
b'RF',9.567617e-06,1.000000,1.000000,2.150957e-08,1.000000e+00,-1.000000e+00,1.000000,2.701868e-08
b'SV',3.756843e-04,1.000000,1.000000,1.807694e-06,1.000000e+00,1.000000e+00,-1.000000,2.211657e-06
b'XG',1.000000e+00,0.000114,0.000076,1.000000e+00,3.097045e-10,2.701868e-08,0.000002,-1.000000e+00

#### LR- Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [614]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    **    **    NS   ***   ***   ***    NS
b'KN'    **     -    NS   ***    NS    NS    NS   ***
b'LR'    **    NS     -   ***    NS    NS    NS   ***
b'ML'    NS   ***   ***     -   ***   ***   ***    NS
b'NB'   ***    NS    NS   ***     -    NS    NS   ***
b'RF'   ***    NS    NS   ***    NS     -    NS   ***
b'SV'   ***    NS    NS   ***    NS    NS     -   ***
b'XG'    NS   ***   ***    NS   ***   ***   ***     -

### DOR

In [615]:
p_df = get_p_df(_dict, 'DOR')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,0.000097,0.005661,1.000000e+00,0.059176,5.061489e-11,0.000018,1.000000e+00
b'KN',9.733273e-05,-1.000000,1.000000,8.442028e-03,1.000000,4.490042e-01,1.000000,4.541738e-02
b'LR',5.660940e-03,1.000000,-1.000000,2.001749e-01,1.000000,2.411788e-02,1.000000,7.251711e-01
b'ML',1.000000e+00,0.008442,0.200175,-1.000000e+00,1.000000,4.820562e-08,0.002158,1.000000e+00
b'NB',5.917593e-02,1.000000,1.000000,1.000000e+00,-1.000000,1.972634e-03,1.000000,1.000000e+00
b'RF',5.061489e-11,0.449004,0.024118,4.820562e-08,0.001973,-1.000000e+00,1.000000,7.553228e-07
b'SV',1.781872e-05,1.000000,1.000000,2.157609e-03,1.000000,1.000000e+00,-1.000000,1.346006e-02
b'XG',1.000000e+00,0.045417,0.725171,1.000000e+00,1.000000,7.553228e-07,0.013460,-1.000000e+00

#### DOR Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [616]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -   ***    **    NS    NS   ***   ***    NS
b'KN'   ***     -    NS    **    NS    NS    NS     *
b'LR'    **    NS     -    NS    NS     *    NS    NS
b'ML'    NS    **    NS     -    NS   ***    **    NS
b'NB'    NS    NS    NS    NS     -    **    NS    NS
b'RF'   ***    NS     *   ***    **     -    NS   ***
b'SV'   ***    NS    NS    **    NS    NS     -     *
b'XG'    NS     *    NS    NS    NS   ***     *     -

## RUS

### F1-Score

In [617]:
_dict = get_dict('RUS')
p_df = get_p_df(_dict, 'f1_score')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,0.000009,0.009835,0.536732,0.017782,2.105840e-07,0.002181,0.932583
b'KN',9.275140e-06,-1.000000,1.000000,0.160605,1.000000,1.000000e+00,1.000000,0.081672
b'LR',9.834693e-03,1.000000,-1.000000,1.000000,1.000000,7.694732e-01,1.000000,1.000000
b'ML',5.367319e-01,0.160605,1.000000,-1.000000,1.000000,1.649189e-02,1.000000,1.000000
b'NB',1.778204e-02,1.000000,1.000000,1.000000,-1.000000,5.080074e-01,1.000000,1.000000
b'RF',2.105840e-07,1.000000,0.769473,0.016492,0.508007,-1.000000e+00,1.000000,0.007329
b'SV',2.180707e-03,1.000000,1.000000,1.000000,1.000000,1.000000e+00,-1.000000,1.000000
b'XG',9.325833e-01,0.081672,1.000000,1.000000,1.000000,7.328697e-03,1.000000,-1.000000

#### F1-Score Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [618]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -   ***    **    NS     *   ***    **    NS
b'KN'   ***     -    NS    NS    NS    NS    NS    NS
b'LR'    **    NS     -    NS    NS    NS    NS    NS
b'ML'    NS    NS    NS     -    NS     *    NS    NS
b'NB'     *    NS    NS    NS     -    NS    NS    NS
b'RF'   ***    NS    NS     *    NS     -    NS    **
b'SV'    **    NS    NS    NS    NS    NS     -    NS
b'XG'    NS    NS    NS    NS    NS    **    NS     -

### Sensitivity

In [619]:
p_df = get_p_df(_dict, 'sensitivity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.000000e+00,0.128456,0.255490,1.922285e-12,0.009355,0.039387,1.000000e+00
b'KN',1.000000e+00,-1.000000e+00,1.000000,1.000000,1.880957e-07,1.000000,1.000000,1.000000e+00
b'LR',1.284560e-01,1.000000e+00,-1.000000,1.000000,9.037195e-05,1.000000,1.000000,1.000000e+00
b'ML',2.554901e-01,1.000000e+00,1.000000,-1.000000,2.924471e-05,1.000000,1.000000,1.000000e+00
b'NB',1.922285e-12,1.880957e-07,0.000090,0.000029,-1.000000e+00,0.002659,0.000484,7.527264e-09
b'RF',9.354766e-03,1.000000e+00,1.000000,1.000000,2.659066e-03,-1.000000,1.000000,4.434257e-01
b'SV',3.938663e-02,1.000000e+00,1.000000,1.000000,4.844420e-04,1.000000,-1.000000,1.000000e+00
b'XG',1.000000e+00,1.000000e+00,1.000000,1.000000,7.527264e-09,0.443426,1.000000,-1.000000e+00

#### Sensitivity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [620]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS   ***    **     *    NS
b'KN'    NS     -    NS    NS   ***    NS    NS    NS
b'LR'    NS    NS     -    NS   ***    NS    NS    NS
b'ML'    NS    NS    NS     -   ***    NS    NS    NS
b'NB'   ***   ***   ***   ***     -    **   ***   ***
b'RF'    **    NS    NS    NS    **     -    NS    NS
b'SV'     *    NS    NS    NS   ***    NS     -    NS
b'XG'    NS    NS    NS    NS   ***    NS    NS     -

### Specificity

In [621]:
p_df = get_p_df(_dict, 'specificity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,9.208091e-03,1.000000,1.000000,7.135352e-05,5.931973e-01,1.000000,1.000000
b'KN',0.009208,-1.000000e+00,0.003993,0.000917,3.023554e-15,1.000000e+00,0.012524,0.016134
b'LR',1.000000,3.993469e-03,-1.000000,1.000000,1.974802e-04,3.315959e-01,1.000000,1.000000
b'ML',1.000000,9.171498e-04,1.000000,-1.000000,9.629733e-04,1.161607e-01,1.000000,1.000000
b'NB',0.000071,3.023554e-15,0.000197,0.000963,-1.000000e+00,6.726362e-11,0.000048,0.000034
b'RF',0.593197,1.000000e+00,0.331596,0.116161,6.726362e-11,-1.000000e+00,0.732697,0.870797
b'SV',1.000000,1.252391e-02,1.000000,1.000000,4.783586e-05,7.326968e-01,-1.000000,1.000000
b'XG',1.000000,1.613410e-02,1.000000,1.000000,3.403447e-05,8.707969e-01,1.000000,-1.000000

#### Specificity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [622]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    **    NS    NS   ***    NS    NS    NS
b'KN'    **     -    **   ***   ***    NS     *     *
b'LR'    NS    **     -    NS   ***    NS    NS    NS
b'ML'    NS   ***    NS     -   ***    NS    NS    NS
b'NB'   ***   ***   ***   ***     -   ***   ***   ***
b'RF'    NS    NS    NS    NS   ***     -    NS    NS
b'SV'    NS     *    NS    NS   ***    NS     -    NS
b'XG'    NS     *    NS    NS   ***    NS    NS     -

### LR+

In [623]:
p_df = get_p_df(_dict, 'LR_P')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.287791e-05,1.000000,1.000000,1.000000e+00,3.448272e-04,1.000000,1.000000
b'KN',0.000013,-1.000000e+00,0.019699,0.000785,7.242399e-09,1.000000e+00,0.078528,0.004447
b'LR',1.000000,1.969883e-02,-1.000000,1.000000,9.383781e-02,1.840023e-01,1.000000,1.000000
b'ML',1.000000,7.853529e-04,1.000000,-1.000000,9.219689e-01,1.215768e-02,1.000000,1.000000
b'NB',1.000000,7.242399e-09,0.093838,0.921969,-1.000000e+00,4.457681e-07,0.024027,0.306092
b'RF',0.000345,1.000000e+00,0.184002,0.012158,4.457681e-07,-1.000000e+00,0.572585,0.053014
b'SV',1.000000,7.852773e-02,1.000000,1.000000,2.402667e-02,5.725850e-01,-1.000000,1.000000
b'XG',1.000000,4.446951e-03,1.000000,1.000000,3.060924e-01,5.301399e-02,1.000000,-1.000000

#### LR+ Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [624]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -   ***    NS    NS    NS   ***    NS    NS
b'KN'   ***     -     *   ***   ***    NS    NS    **
b'LR'    NS     *     -    NS    NS    NS    NS    NS
b'ML'    NS   ***    NS     -    NS     *    NS    NS
b'NB'    NS   ***    NS    NS     -   ***     *    NS
b'RF'   ***    NS    NS     *   ***     -    NS    NS
b'SV'    NS    NS    NS    NS     *    NS     -    NS
b'XG'    NS    **    NS    NS    NS    NS    NS     -

### LR-

In [625]:
p_df = get_p_df(_dict, 'LR_N')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,0.014225,0.023633,0.229197,5.310337e-08,0.000031,0.005936,1.000000
b'KN',1.422539e-02,-1.000000,1.000000,1.000000,3.194186e-01,1.000000,1.000000,1.000000
b'LR',2.363275e-02,1.000000,-1.000000,1.000000,2.133402e-01,1.000000,1.000000,1.000000
b'ML',2.291973e-01,1.000000,1.000000,-1.000000,2.165764e-02,0.730309,1.000000,1.000000
b'NB',5.310337e-08,0.319419,0.213340,0.021658,-1.000000e+00,1.000000,0.597141,0.000430
b'RF',3.135873e-05,1.000000,1.000000,0.730309,1.000000e+00,-1.000000,1.000000,0.040338
b'SV',5.935917e-03,1.000000,1.000000,1.000000,5.971413e-01,1.000000,-1.000000,1.000000
b'XG',1.000000e+00,1.000000,1.000000,1.000000,4.299803e-04,0.040338,1.000000,-1.000000

#### LR- Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [626]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -     *     *    NS   ***   ***    **    NS
b'KN'     *     -    NS    NS    NS    NS    NS    NS
b'LR'     *    NS     -    NS    NS    NS    NS    NS
b'ML'    NS    NS    NS     -     *    NS    NS    NS
b'NB'   ***    NS    NS     *     -    NS    NS   ***
b'RF'   ***    NS    NS    NS    NS     -    NS     *
b'SV'    **    NS    NS    NS    NS    NS     -    NS
b'XG'    NS    NS    NS    NS   ***     *    NS     -

### DOR

In [627]:
p_df = get_p_df(_dict, 'DOR')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,0.000009,0.091636,1.000000,0.053362,0.000002,0.01673,1.000000
b'KN',0.000009,-1.000000,0.832116,0.032894,1.000000,1.000000,1.00000,0.030408
b'LR',0.091636,0.832116,-1.000000,1.000000,1.000000,0.371049,1.00000,1.000000
b'ML',1.000000,0.032894,1.000000,-1.000000,1.000000,0.010867,1.00000,1.000000
b'NB',0.053362,1.000000,1.000000,1.000000,-1.000000,0.579787,1.00000,1.000000
b'RF',0.000002,1.000000,0.371049,0.010867,0.579787,-1.000000,1.00000,0.009982
b'SV',0.016730,1.000000,1.000000,1.000000,1.000000,1.000000,-1.00000,1.000000
b'XG',1.000000,0.030408,1.000000,1.000000,1.000000,0.009982,1.00000,-1.000000

#### DOR Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [628]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -   ***    NS    NS    NS   ***     *    NS
b'KN'   ***     -    NS     *    NS    NS    NS     *
b'LR'    NS    NS     -    NS    NS    NS    NS    NS
b'ML'    NS     *    NS     -    NS     *    NS    NS
b'NB'    NS    NS    NS    NS     -    NS    NS    NS
b'RF'   ***    NS    NS     *    NS     -    NS    **
b'SV'     *    NS    NS    NS    NS    NS     -    NS
b'XG'    NS     *    NS    NS    NS    **    NS     -

## SMOTE

### F1-Score

In [629]:
_dict = get_dict('SMOTE')
p_df = get_p_df(_dict, 'f1_score')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.000000e+00,0.223526,1.000000e+00,1.000000,5.841420e-05,0.014976,1.000000
b'KN',1.000000,-1.000000e+00,0.000206,1.000000e+00,0.226623,1.364308e-09,0.000003,0.524819
b'LR',0.223526,2.063944e-04,-1.000000,1.520018e-03,1.000000,1.000000e+00,1.000000,0.923997
b'ML',1.000000,1.000000e+00,0.001520,-1.000000e+00,0.774982,2.484474e-08,0.000035,1.000000
b'NB',1.000000,2.266232e-01,1.000000,7.749822e-01,-1.000000,2.411909e-03,0.229129,1.000000
b'RF',0.000058,1.364308e-09,1.000000,2.484474e-08,0.002412,-1.000000e+00,1.000000,0.000671
b'SV',0.014976,3.377365e-06,1.000000,3.523082e-05,0.229129,1.000000e+00,-1.000000,0.091320
b'XG',1.000000,5.248187e-01,0.923997,1.000000e+00,1.000000,6.714547e-04,0.091320,-1.000000

#### F1-Score Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [630]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS    NS   ***     *    NS
b'KN'    NS     -   ***    NS    NS   ***   ***    NS
b'LR'    NS   ***     -    **    NS    NS    NS    NS
b'ML'    NS    NS    **     -    NS   ***   ***    NS
b'NB'    NS    NS    NS    NS     -    **    NS    NS
b'RF'   ***   ***    NS   ***    **     -    NS   ***
b'SV'     *   ***    NS   ***    NS    NS     -    NS
b'XG'    NS    NS    NS    NS    NS   ***    NS     -

### Sensitivity

In [631]:
p_df = get_p_df(_dict, 'sensitivity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,5.155120e-02,1.000000,1.454651e-06,3.255409e-02,1.000000e+00,1.000000,1.000000
b'KN',0.051551,-1.000000e+00,1.000000,5.549209e-01,5.553470e-09,1.465039e-02,0.750627,1.000000
b'LR',1.000000,1.000000e+00,-1.000000,1.234137e-03,1.141747e-04,1.000000e+00,1.000000,1.000000
b'ML',0.000001,5.549209e-01,0.001234,-1.000000e+00,9.937314e-17,1.875303e-07,0.000155,0.002846
b'NB',0.032554,5.553470e-09,0.000114,9.937314e-17,-1.000000e+00,1.064868e-01,0.000938,0.000043
b'RF',1.000000,1.465039e-02,1.000000,1.875303e-07,1.064868e-01,-1.000000e+00,1.000000,1.000000
b'SV',1.000000,7.506272e-01,1.000000,1.545030e-04,9.377807e-04,1.000000e+00,-1.000000,1.000000
b'XG',1.000000,1.000000e+00,1.000000,2.845659e-03,4.317451e-05,1.000000e+00,1.000000,-1.000000

#### Sensitivity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [632]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS   ***     *    NS    NS    NS
b'KN'    NS     -    NS    NS   ***     *    NS    NS
b'LR'    NS    NS     -    **   ***    NS    NS    NS
b'ML'   ***    NS    **     -   ***   ***   ***    **
b'NB'     *   ***   ***   ***     -    NS   ***   ***
b'RF'    NS     *    NS   ***    NS     -    NS    NS
b'SV'    NS    NS    NS   ***   ***    NS     -    NS
b'XG'    NS    NS    NS    **   ***    NS    NS     -

### Specificity

In [633]:
p_df = get_p_df(_dict, 'specificity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.000000e+00,3.265151e-03,2.497568e-08,1.506465e-01,2.153336e-04,2.125392e-04,1.000000
b'KN',1.000000e+00,-1.000000e+00,7.996976e-03,1.002466e-07,7.352027e-02,6.025756e-04,5.951146e-04,1.000000
b'LR',3.265151e-03,7.996976e-03,-1.000000e+00,6.422271e-01,8.995313e-10,1.000000e+00,1.000000e+00,0.604138
b'ML',2.497568e-08,1.002466e-07,6.422271e-01,-1.000000e+00,1.416486e-17,1.000000e+00,1.000000e+00,0.000135
b'NB',1.506465e-01,7.352027e-02,8.995313e-10,1.416486e-17,-1.000000e+00,1.108445e-11,1.085815e-11,0.000401
b'RF',2.153336e-04,6.025756e-04,1.000000e+00,1.000000e+00,1.108445e-11,-1.000000e+00,1.000000e+00,0.098567
b'SV',2.125392e-04,5.951146e-04,1.000000e+00,1.000000e+00,1.085815e-11,1.000000e+00,-1.000000e+00,0.097689
b'XG',1.000000e+00,1.000000e+00,6.041379e-01,1.351158e-04,4.012520e-04,9.856747e-02,9.768881e-02,-1.000000

#### Specificity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [634]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    **   ***    NS   ***   ***    NS
b'KN'    NS     -    **   ***    NS   ***   ***    NS
b'LR'    **    **     -    NS   ***    NS    NS    NS
b'ML'   ***   ***    NS     -   ***    NS    NS   ***
b'NB'    NS    NS   ***   ***     -   ***   ***   ***
b'RF'   ***   ***    NS    NS   ***     -    NS    NS
b'SV'   ***   ***    NS    NS   ***    NS     -    NS
b'XG'    NS    NS    NS   ***   ***    NS    NS     -

### LR+

In [635]:
p_df = get_p_df(_dict, 'LR_P')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.000000e+00,3.086219e-03,0.011180,1.000000e+00,3.577452e-06,1.796677e-04,1.000000
b'KN',1.000000,-1.000000e+00,3.679809e-05,0.000180,1.000000e+00,1.129558e-08,1.171866e-06,0.791948
b'LR',0.003086,3.679809e-05,-1.000000e+00,1.000000,5.627293e-07,1.000000e+00,1.000000e+00,0.229232
b'ML',0.011180,1.804571e-04,1.000000e+00,-1.000000,3.523371e-06,1.000000e+00,1.000000e+00,0.572709
b'NB',1.000000,1.000000e+00,5.627293e-07,0.000004,-1.000000e+00,5.939598e-11,1.102960e-08,0.084231
b'RF',0.000004,1.129558e-08,1.000000e+00,1.000000,5.939598e-11,-1.000000e+00,1.000000e+00,0.001378
b'SV',0.000180,1.171866e-06,1.000000e+00,1.000000,1.102960e-08,1.000000e+00,-1.000000e+00,0.028100
b'XG',1.000000,7.919478e-01,2.292319e-01,0.572709,8.423061e-02,1.377722e-03,2.809984e-02,-1.000000

#### LR+ Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [636]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    **     *    NS   ***   ***    NS
b'KN'    NS     -   ***   ***    NS   ***   ***    NS
b'LR'    **   ***     -    NS   ***    NS    NS    NS
b'ML'     *   ***    NS     -   ***    NS    NS    NS
b'NB'    NS    NS   ***   ***     -   ***   ***    NS
b'RF'   ***   ***    NS    NS   ***     -    NS    **
b'SV'   ***   ***    NS    NS   ***    NS     -     *
b'XG'    NS    NS    NS    NS    NS    **     *     -

### LR-

In [637]:
p_df = get_p_df(_dict, 'LR_N')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,0.097008,1.000000,9.431139e-03,4.640790e-01,2.856152e-01,1.000000,1.000000
b'KN',0.097008,-1.000000,0.016057,1.000000e+00,2.918014e-06,1.111769e-06,0.001049,0.896807
b'LR',1.000000,0.016057,-1.000000,1.127846e-03,1.000000e+00,1.000000e+00,1.000000,1.000000
b'ML',0.009431,1.000000,0.001128,-1.000000e+00,6.201474e-08,2.113462e-08,0.000048,0.140429
b'NB',0.464079,0.000003,1.000000,6.201474e-08,-1.000000e+00,1.000000e+00,1.000000,0.041930
b'RF',0.285615,0.000001,1.000000,2.113462e-08,1.000000e+00,-1.000000e+00,1.000000,0.022783
b'SV',1.000000,0.001049,1.000000,4.797214e-05,1.000000e+00,1.000000e+00,-1.000000,1.000000
b'XG',1.000000,0.896807,1.000000,1.404293e-01,4.193019e-02,2.278265e-02,1.000000,-1.000000

#### LR- Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [638]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    **    NS    NS    NS    NS
b'KN'    NS     -     *    NS   ***   ***    **    NS
b'LR'    NS     *     -    **    NS    NS    NS    NS
b'ML'    **    NS    **     -   ***   ***   ***    NS
b'NB'    NS   ***    NS   ***     -    NS    NS     *
b'RF'    NS   ***    NS   ***    NS     -    NS     *
b'SV'    NS    **    NS   ***    NS    NS     -    NS
b'XG'    NS    NS    NS    NS     *     *    NS     -

### DOR

In [639]:
p_df = get_p_df(_dict, 'DOR')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,9.200189e-01,0.272121,1.000000,1.000000,4.292128e-05,1.616810e-02,1.000000
b'KN',0.920019,-1.000000e+00,0.000066,0.990441,0.201293,1.092343e-10,6.898442e-07,0.284093
b'LR',0.272121,6.619912e-05,-1.000000,0.249518,1.000000,7.374203e-01,1.000000e+00,0.886446
b'ML',1.000000,9.904407e-01,0.249518,-1.000000,1.000000,3.697271e-05,1.447808e-02,1.000000
b'NB',1.000000,2.012934e-01,1.000000,1.000000,-1.000000,5.912346e-04,1.086051e-01,1.000000
b'RF',0.000043,1.092343e-10,0.737420,0.000037,0.000591,-1.000000e+00,1.000000e+00,0.000348
b'SV',0.016168,6.898442e-07,1.000000,0.014478,0.108605,1.000000e+00,-1.000000e+00,0.074361
b'XG',1.000000,2.840931e-01,0.886446,1.000000,1.000000,3.480383e-04,7.436057e-02,-1.000000

#### DOR Significance table.

Returns table that can be used in a publication. P values are replaced with astVerisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [640]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS    NS   ***     *    NS
b'KN'    NS     -   ***    NS    NS   ***   ***    NS
b'LR'    NS   ***     -    NS    NS    NS    NS    NS
b'ML'    NS    NS    NS     -    NS   ***     *    NS
b'NB'    NS    NS    NS    NS     -   ***    NS    NS
b'RF'   ***   ***    NS   ***   ***     -    NS   ***
b'SV'     *   ***    NS     *    NS    NS     -    NS
b'XG'    NS    NS    NS    NS    NS   ***    NS     -

## SMOTE-Tomek

### F1-Score

In [641]:
_dict = get_dict('SMOTETomek')
p_df = get_p_df(_dict, 'f1_score')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.000000e+00,0.024098,1.000000e+00,1.000000,3.376495e-06,0.009256,1.000000
b'KN',1.000000,-1.000000e+00,0.000054,1.000000e+00,0.023305,5.092067e-10,0.000015,0.243342
b'LR',0.024098,5.425785e-05,-1.000000,2.641991e-04,1.000000,1.000000e+00,1.000000,0.915428
b'ML',1.000000,1.000000e+00,0.000264,-1.000000e+00,0.072735,4.650830e-09,0.000078,0.610304
b'NB',1.000000,2.330517e-02,1.000000,7.273522e-02,-1.000000,2.043845e-02,1.000000,1.000000
b'RF',0.000003,5.092067e-10,1.000000,4.650830e-09,0.020438,-1.000000e+00,1.000000,0.001177
b'SV',0.009256,1.466738e-05,1.000000,7.752071e-05,1.000000,1.000000e+00,-1.000000,0.467423
b'XG',1.000000,2.433418e-01,0.915428,6.103042e-01,1.000000,1.177450e-03,0.467423,-1.000000

#### F1-Score Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [642]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS     *    NS    NS   ***    **    NS
b'KN'    NS     -   ***    NS     *   ***   ***    NS
b'LR'     *   ***     -   ***    NS    NS    NS    NS
b'ML'    NS    NS   ***     -    NS   ***   ***    NS
b'NB'    NS     *    NS    NS     -     *    NS    NS
b'RF'   ***   ***    NS   ***     *     -    NS    **
b'SV'    **   ***    NS   ***    NS    NS     -    NS
b'XG'    NS    NS    NS    NS    NS    **    NS     -

### Sensitivity

In [643]:
p_df = get_p_df(_dict, 'sensitivity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.000000e+00,1.000000,1.713679e-03,2.395138e-06,9.653715e-01,1.000000,1.000000
b'KN',1.000000,-1.000000e+00,0.643513,1.802864e-01,8.866826e-10,1.900580e-02,0.772788,1.000000
b'LR',1.000000,6.435133e-01,-1.000000,1.619635e-05,3.561417e-04,1.000000e+00,1.000000,1.000000
b'ML',0.001714,1.802864e-01,0.000016,-1.000000e+00,2.166875e-19,2.578241e-08,0.000023,0.002236
b'NB',0.000002,8.866826e-10,0.000356,2.166875e-19,-1.000000e+00,3.339895e-02,0.000257,0.000002
b'RF',0.965372,1.900580e-02,1.000000,2.578241e-08,3.339895e-02,-1.000000e+00,1.000000,0.823824
b'SV',1.000000,7.727880e-01,1.000000,2.332224e-05,2.570014e-04,1.000000e+00,-1.000000,1.000000
b'XG',1.000000,1.000000e+00,1.000000,2.236410e-03,1.684024e-06,8.238239e-01,1.000000,-1.000000

#### Sensitivity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [644]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    **   ***    NS    NS    NS
b'KN'    NS     -    NS    NS   ***     *    NS    NS
b'LR'    NS    NS     -   ***   ***    NS    NS    NS
b'ML'    **    NS   ***     -   ***   ***   ***    **
b'NB'   ***   ***   ***   ***     -     *   ***   ***
b'RF'    NS     *    NS   ***     *     -    NS    NS
b'SV'    NS    NS    NS   ***   ***    NS     -    NS
b'XG'    NS    NS    NS    **   ***    NS    NS     -

### Specificity

In [645]:
p_df = get_p_df(_dict, 'specificity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.000000e+00,2.901812e-01,5.512080e-06,3.990190e-03,2.687331e-03,7.471323e-02,1.000000e+00
b'KN',1.000000,-1.000000e+00,1.183226e-02,1.981172e-08,1.256595e-01,3.242997e-05,2.049246e-03,9.236439e-02
b'LR',0.290181,1.183226e-02,-1.000000e+00,2.329441e-01,5.389176e-09,1.000000e+00,1.000000e+00,1.000000e+00
b'ML',0.000006,1.981172e-08,2.329441e-01,-1.000000e+00,5.980864e-18,1.000000e+00,7.811607e-01,3.515520e-02
b'NB',0.003990,1.256595e-01,5.389176e-09,5.980864e-18,-1.000000e+00,3.683109e-13,2.783647e-10,2.090342e-07
b'RF',0.002687,3.242997e-05,1.000000e+00,1.000000e+00,3.683109e-13,-1.000000e+00,1.000000e+00,1.000000e+00
b'SV',0.074713,2.049246e-03,1.000000e+00,7.811607e-01,2.783647e-10,1.000000e+00,-1.000000e+00,1.000000e+00
b'XG',1.000000,9.236439e-02,1.000000e+00,3.515520e-02,2.090342e-07,1.000000e+00,1.000000e+00,-1.000000e+00

#### Specificity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [646]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS   ***    **    **    NS    NS
b'KN'    NS     -     *   ***    NS   ***    **    NS
b'LR'    NS     *     -    NS   ***    NS    NS    NS
b'ML'   ***   ***    NS     -   ***    NS    NS     *
b'NB'    **    NS   ***   ***     -   ***   ***   ***
b'RF'    **   ***    NS    NS   ***     -    NS    NS
b'SV'    NS    **    NS    NS   ***    NS     -    NS
b'XG'    NS    NS    NS     *   ***    NS    NS     -

### LR+

In [647]:
p_df = get_p_df(_dict, 'LR_P')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.000000e+00,6.113793e-03,0.120024,1.000000e+00,3.576959e-06,1.007304e-03,1.000000
b'KN',1.000000,-1.000000e+00,4.843237e-06,0.000324,1.000000e+00,2.703941e-10,4.204134e-07,0.016001
b'LR',0.006114,4.843237e-06,-1.000000e+00,1.000000,8.579450e-07,1.000000e+00,1.000000e+00,1.000000
b'ML',0.120024,3.236512e-04,1.000000e+00,-1.000000,7.384378e-05,4.277139e-01,1.000000e+00,1.000000
b'NB',1.000000,1.000000e+00,8.579450e-07,0.000074,-1.000000e+00,2.956888e-11,6.527278e-08,0.004829
b'RF',0.000004,2.703941e-10,1.000000e+00,0.427714,2.956888e-11,-1.000000e+00,1.000000e+00,0.021300
b'SV',0.001007,4.204134e-07,1.000000e+00,1.000000,6.527278e-08,1.000000e+00,-1.000000e+00,0.746248
b'XG',1.000000,1.600072e-02,1.000000e+00,1.000000,4.828672e-03,2.129962e-02,7.462476e-01,-1.000000

#### LR+ Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [648]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    **    NS    NS   ***    **    NS
b'KN'    NS     -   ***   ***    NS   ***   ***     *
b'LR'    **   ***     -    NS   ***    NS    NS    NS
b'ML'    NS   ***    NS     -   ***    NS    NS    NS
b'NB'    NS    NS   ***   ***     -   ***   ***    **
b'RF'   ***   ***    NS    NS   ***     -    NS     *
b'SV'    **   ***    NS    NS   ***    NS     -    NS
b'XG'    NS     *    NS    NS    **     *    NS     -

### LR-

In [649]:
p_df = get_p_df(_dict, 'LR_N')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.000000e+00,0.518429,5.249511e-01,1.994841e-04,1.276760e-03,0.352138,1.000000
b'KN',1.000000,-1.000000e+00,0.003632,1.000000e+00,6.985794e-08,8.046329e-07,0.002035,0.547665
b'LR',0.518429,3.632016e-03,-1.000000,7.085734e-05,9.177916e-01,1.000000e+00,1.000000,1.000000
b'ML',0.524951,1.000000e+00,0.000071,-1.000000e+00,2.210673e-10,3.629502e-09,0.000035,0.036736
b'NB',0.000199,6.985794e-08,0.917792,2.210673e-10,-1.000000e+00,1.000000e+00,1.000000,0.008026
b'RF',0.001277,8.046329e-07,1.000000,3.629502e-09,1.000000e+00,-1.000000e+00,1.000000,0.036617
b'SV',0.352138,2.034533e-03,1.000000,3.526518e-05,1.000000e+00,1.000000e+00,-1.000000,1.000000
b'XG',1.000000,5.476654e-01,1.000000,3.673618e-02,8.025570e-03,3.661742e-02,1.000000,-1.000000

#### LR- Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [650]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS   ***    **    NS    NS
b'KN'    NS     -    **    NS   ***   ***    **    NS
b'LR'    NS    **     -   ***    NS    NS    NS    NS
b'ML'    NS    NS   ***     -   ***   ***   ***     *
b'NB'   ***   ***    NS   ***     -    NS    NS    **
b'RF'    **   ***    NS   ***    NS     -    NS     *
b'SV'    NS    **    NS   ***    NS    NS     -    NS
b'XG'    NS    NS    NS     *    **     *    NS     -

### DOR

In [651]:
p_df = get_p_df(_dict, 'DOR')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.000000e+00,0.022479,1.000000,1.000000,1.663546e-06,0.005766,1.000000
b'KN',1.000000,-1.000000e+00,0.000013,1.000000,0.011744,3.185258e-11,0.000002,0.050108
b'LR',0.022479,1.276492e-05,-1.000000,0.038073,1.000000,1.000000e+00,1.000000,1.000000
b'ML',1.000000,1.000000e+00,0.038073,-1.000000,1.000000,3.782633e-06,0.010271,1.000000
b'NB',1.000000,1.174395e-02,1.000000,1.000000,-1.000000,9.431167e-03,1.000000,1.000000
b'RF',0.000002,3.185258e-11,1.000000,0.000004,0.009431,-1.000000e+00,1.000000,0.001853
b'SV',0.005766,1.826569e-06,1.000000,0.010271,1.000000,1.000000e+00,-1.000000,0.631810
b'XG',1.000000,5.010821e-02,1.000000,1.000000,1.000000,1.852828e-03,0.631810,-1.000000

#### DOR Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [652]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS     *    NS    NS   ***    **    NS
b'KN'    NS     -   ***    NS     *   ***   ***    NS
b'LR'     *   ***     -     *    NS    NS    NS    NS
b'ML'    NS    NS     *     -    NS   ***     *    NS
b'NB'    NS     *    NS    NS     -    **    NS    NS
b'RF'   ***   ***    NS   ***    **     -    NS    **
b'SV'    **   ***    NS     *    NS    NS     -    NS
b'XG'    NS    NS    NS    NS    NS    **    NS     -

# Hospital Srio Libans DataSet

## ADASYN

### F1-Score

In [653]:
dataset = 'HSL'
file_path = f'{workspace}/{dataset}'

_dict = get_dict('ADASYN')
p_df = get_p_df(_dict, 'f1_score')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,0.012698,6.535693e-10,1.000000e+00,1.313439e-03,1.000000e+00,7.797815e-06,1.000000e+00
b'KN',1.269775e-02,-1.000000,4.172280e-02,2.043337e-05,1.000000e+00,2.067642e-03,1.000000e+00,7.182778e-03
b'LR',6.535693e-10,0.041723,-1.000000e+00,1.203249e-14,2.513709e-01,2.610388e-11,1.000000e+00,2.340473e-10
b'ML',1.000000e+00,0.000020,1.203249e-14,-1.000000e+00,9.657207e-07,1.000000e+00,1.283170e-09,1.000000e+00
b'NB',1.313439e-03,1.000000,2.513709e-01,9.657207e-07,-1.000000e+00,1.673230e-04,1.000000e+00,6.860229e-04
b'RF',1.000000e+00,0.002068,2.610388e-11,1.000000e+00,1.673230e-04,-1.000000e+00,6.206928e-07,1.000000e+00
b'SV',7.797815e-06,1.000000,1.000000e+00,1.283170e-09,1.000000e+00,6.206928e-07,-1.000000e+00,3.495217e-06
b'XG',1.000000e+00,0.007183,2.340473e-10,1.000000e+00,6.860229e-04,1.000000e+00,3.495217e-06,-1.000000e+00

#### F1-Score Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [654]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -     *   ***    NS    **    NS   ***    NS
b'KN'     *     -     *   ***    NS    **    NS    **
b'LR'   ***     *     -   ***    NS   ***    NS   ***
b'ML'    NS   ***   ***     -   ***    NS   ***    NS
b'NB'    **    NS    NS   ***     -   ***    NS   ***
b'RF'    NS    **   ***    NS   ***     -   ***    NS
b'SV'   ***    NS    NS   ***    NS   ***     -   ***
b'XG'    NS    **   ***    NS   ***    NS   ***     -

### Sensitivity

In [655]:
p_df = get_p_df(_dict, 'sensitivity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,0.015528,8.581101e-10,1.000000e+00,0.002090,1.000000e+00,4.792421e-06,1.000000e+00
b'KN',1.552817e-02,-1.000000,3.976465e-02,2.019125e-05,1.000000,2.913782e-03,1.000000e+00,8.476654e-03
b'LR',8.581101e-10,0.039765,-1.000000e+00,1.052295e-14,0.204611,4.293443e-11,1.000000e+00,2.859667e-10
b'ML',1.000000e+00,0.000020,1.052295e-14,-1.000000e+00,0.000001,1.000000e+00,4.721543e-10,1.000000e+00
b'NB',2.090390e-03,1.000000,2.046114e-01,1.306293e-06,-1.000000,3.189277e-04,1.000000e+00,1.056372e-03
b'RF',1.000000e+00,0.002914,4.293443e-11,1.000000e+00,0.000319,-1.000000e+00,4.332825e-07,1.000000e+00
b'SV',4.792421e-06,1.000000,1.000000e+00,4.721543e-10,1.000000,4.332825e-07,-1.000000e+00,1.992128e-06
b'XG',1.000000e+00,0.008477,2.859667e-10,1.000000e+00,0.001056,1.000000e+00,1.992128e-06,-1.000000e+00

#### Sensitivity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [656]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -     *   ***    NS    **    NS   ***    NS
b'KN'     *     -     *   ***    NS    **    NS    **
b'LR'   ***     *     -   ***    NS   ***    NS   ***
b'ML'    NS   ***   ***     -   ***    NS   ***    NS
b'NB'    **    NS    NS   ***     -   ***    NS    **
b'RF'    NS    **   ***    NS   ***     -   ***    NS
b'SV'   ***    NS    NS   ***    NS   ***     -   ***
b'XG'    NS    **   ***    NS    **    NS   ***     -

### Specificity

In [657]:
p_df = get_p_df(_dict, 'specificity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.000000,0.002698,1.000000,1.000000,1.000000,0.000630,1.000000
b'KN',1.000000,-1.000000,0.057893,1.000000,1.000000,1.000000,0.017575,1.000000
b'LR',0.002698,0.057893,-1.000000,0.000090,0.089596,0.007364,1.000000,0.000491
b'ML',1.000000,1.000000,0.000090,-1.000000,1.000000,1.000000,0.000017,1.000000
b'NB',1.000000,1.000000,0.089596,1.000000,-1.000000,1.000000,0.028366,1.000000
b'RF',1.000000,1.000000,0.007364,1.000000,1.000000,-1.000000,0.001864,1.000000
b'SV',0.000630,0.017575,1.000000,0.000017,0.028366,0.001864,-1.000000,0.000101
b'XG',1.000000,1.000000,0.000491,1.000000,1.000000,1.000000,0.000101,-1.000000

#### Specificity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [658]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    **    NS    NS    NS   ***    NS
b'KN'    NS     -    NS    NS    NS    NS     *    NS
b'LR'    **    NS     -   ***    NS    **    NS   ***
b'ML'    NS    NS   ***     -    NS    NS   ***    NS
b'NB'    NS    NS    NS    NS     -    NS     *    NS
b'RF'    NS    NS    **    NS    NS     -    **    NS
b'SV'   ***     *    NS   ***     *    **     -   ***
b'XG'    NS    NS   ***    NS    NS    NS   ***     -

### LR+

In [659]:
p_df = get_p_df(_dict, 'LR_P')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.000000,0.524440,1.000000,1.000000,1.00000,0.028889,1.000000
b'KN',1.000000,-1.000000,0.190090,1.000000,1.000000,1.00000,0.007697,1.000000
b'LR',0.524440,0.190090,-1.000000,0.370633,0.241160,1.00000,1.000000,0.123762
b'ML',1.000000,1.000000,0.370633,-1.000000,1.000000,1.00000,0.018311,1.000000
b'NB',1.000000,1.000000,0.241160,1.000000,-1.000000,1.00000,0.010467,1.000000
b'RF',1.000000,1.000000,1.000000,1.000000,1.000000,-1.00000,0.086670,1.000000
b'SV',0.028889,0.007697,1.000000,0.018311,0.010467,0.08667,-1.000000,0.004438
b'XG',1.000000,1.000000,0.123762,1.000000,1.000000,1.00000,0.004438,-1.000000

#### LR+ Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [660]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS    NS    NS     *    NS
b'KN'    NS     -    NS    NS    NS    NS    **    NS
b'LR'    NS    NS     -    NS    NS    NS    NS    NS
b'ML'    NS    NS    NS     -    NS    NS     *    NS
b'NB'    NS    NS    NS    NS     -    NS     *    NS
b'RF'    NS    NS    NS    NS    NS     -    NS    NS
b'SV'     *    **    NS     *     *    NS     -    **
b'XG'    NS    NS    NS    NS    NS    NS    **     -

### LR-

In [661]:
p_df = get_p_df(_dict, 'LR_N')
p_df

       b'DT'     b'KN'  b'LR'     b'ML'     b'NB'  b'RF'     b'SV'     b'XG'
b'DT'   -1.0  1.000000    1.0  1.000000  1.000000    1.0  1.000000  1.000000
b'KN'    1.0 -1.000000    1.0  1.000000  1.000000    1.0  0.556584  1.000000
b'LR'    1.0  1.000000   -1.0  1.000000  1.000000    1.0  1.000000  1.000000
b'ML'    1.0  1.000000    1.0 -1.000000  1.000000    1.0  0.847004  1.000000
b'NB'    1.0  1.000000    1.0  1.000000 -1.000000    1.0  0.404753  1.000000
b'RF'    1.0  1.000000    1.0  1.000000  1.000000   -1.0  1.000000  1.000000
b'SV'    1.0  0.556584    1.0  0.847004  0.404753    1.0 -1.000000  0.700627
b'XG'    1.0  1.000000    1.0  1.000000  1.000000    1.0  0.700627 -1.000000

#### LR- Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [662]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS    NS    NS    NS    NS
b'KN'    NS     -    NS    NS    NS    NS    NS    NS
b'LR'    NS    NS     -    NS    NS    NS    NS    NS
b'ML'    NS    NS    NS     -    NS    NS    NS    NS
b'NB'    NS    NS    NS    NS     -    NS    NS    NS
b'RF'    NS    NS    NS    NS    NS     -    NS    NS
b'SV'    NS    NS    NS    NS    NS    NS     -    NS
b'XG'    NS    NS    NS    NS    NS    NS    NS     -

### DOR

In [663]:
p_df = get_p_df(_dict, 'DOR')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.403753,1.000000
b'KN',1.000000,-1.000000,1.000000,1.000000,1.000000,1.000000,0.107777,1.000000
b'LR',1.000000,1.000000,-1.000000,0.845086,1.000000,1.000000,1.000000,0.954187
b'ML',1.000000,1.000000,0.845086,-1.000000,1.000000,1.000000,0.061054,1.000000
b'NB',1.000000,1.000000,1.000000,1.000000,-1.000000,1.000000,0.105194,1.000000
b'RF',1.000000,1.000000,1.000000,1.000000,1.000000,-1.000000,0.323357,1.000000
b'SV',0.403753,0.107777,1.000000,0.061054,0.105194,0.323357,-1.000000,0.071734
b'XG',1.000000,1.000000,0.954187,1.000000,1.000000,1.000000,0.071734,-1.000000

#### DOR Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [664]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS    NS    NS    NS    NS
b'KN'    NS     -    NS    NS    NS    NS    NS    NS
b'LR'    NS    NS     -    NS    NS    NS    NS    NS
b'ML'    NS    NS    NS     -    NS    NS    NS    NS
b'NB'    NS    NS    NS    NS     -    NS    NS    NS
b'RF'    NS    NS    NS    NS    NS     -    NS    NS
b'SV'    NS    NS    NS    NS    NS    NS     -    NS
b'XG'    NS    NS    NS    NS    NS    NS    NS     -

## ORIGINAL

### F1-Score

In [665]:
_dict = get_dict('ORIGINAL')
p_df = get_p_df(_dict, 'f1_score')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,9.527668e-13,1.000000e+00,1.000000e+00,1.000000e+00
b'KN',1.000000e+00,-1.000000e+00,2.755039e-01,1.000000e+00,2.621247e-20,1.000000e+00,1.000000e+00,1.000000e+00
b'LR',1.000000e+00,2.755039e-01,-1.000000e+00,1.000000e+00,7.050602e-11,2.755039e-01,2.755039e-01,1.000000e+00
b'ML',1.000000e+00,1.000000e+00,1.000000e+00,-1.000000e+00,7.432985e-17,1.000000e+00,1.000000e+00,1.000000e+00
b'NB',9.527668e-13,2.621247e-20,7.050602e-11,7.432985e-17,-1.000000e+00,2.621247e-20,2.621247e-20,3.283055e-16
b'RF',1.000000e+00,1.000000e+00,2.755039e-01,1.000000e+00,2.621247e-20,-1.000000e+00,1.000000e+00,1.000000e+00
b'SV',1.000000e+00,1.000000e+00,2.755039e-01,1.000000e+00,2.621247e-20,1.000000e+00,-1.000000e+00,1.000000e+00
b'XG',1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.283055e-16,1.000000e+00,1.000000e+00,-1.000000e+00

#### F1-Score Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [666]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS   ***    NS    NS    NS
b'KN'    NS     -    NS    NS   ***    NS    NS    NS
b'LR'    NS    NS     -    NS   ***    NS    NS    NS
b'ML'    NS    NS    NS     -   ***    NS    NS    NS
b'NB'   ***   ***   ***   ***     -   ***   ***   ***
b'RF'    NS    NS    NS    NS   ***     -    NS    NS
b'SV'    NS    NS    NS    NS   ***    NS     -    NS
b'XG'    NS    NS    NS    NS   ***    NS    NS     -

### Sensitivity

In [667]:
p_df = get_p_df(_dict, 'sensitivity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.154965e-13,1.000000e+00,1.000000e+00,1.000000e+00
b'KN',1.000000e+00,-1.000000e+00,1.017500e-02,1.000000e+00,5.316656e-21,1.000000e+00,1.000000e+00,1.000000e+00
b'LR',1.000000e+00,1.017500e-02,-1.000000e+00,1.966863e-01,1.775285e-08,1.017500e-02,1.017500e-02,3.230702e-01
b'ML',1.000000e+00,1.000000e+00,1.966863e-01,-1.000000e+00,1.916189e-17,1.000000e+00,1.000000e+00,1.000000e+00
b'NB',3.154965e-13,5.316656e-21,1.775285e-08,1.916189e-17,-1.000000e+00,5.316656e-21,5.316656e-21,8.683572e-17
b'RF',1.000000e+00,1.000000e+00,1.017500e-02,1.000000e+00,5.316656e-21,-1.000000e+00,1.000000e+00,1.000000e+00
b'SV',1.000000e+00,1.000000e+00,1.017500e-02,1.000000e+00,5.316656e-21,1.000000e+00,-1.000000e+00,1.000000e+00
b'XG',1.000000e+00,1.000000e+00,3.230702e-01,1.000000e+00,8.683572e-17,1.000000e+00,1.000000e+00,-1.000000e+00

#### Sensitivity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [668]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS   ***    NS    NS    NS
b'KN'    NS     -     *    NS   ***    NS    NS    NS
b'LR'    NS     *     -    NS   ***     *     *    NS
b'ML'    NS    NS    NS     -   ***    NS    NS    NS
b'NB'   ***   ***   ***   ***     -   ***   ***   ***
b'RF'    NS    NS     *    NS   ***     -    NS    NS
b'SV'    NS    NS     *    NS   ***    NS     -    NS
b'XG'    NS    NS    NS    NS   ***    NS    NS     -

### Specificity

In [669]:
p_df = get_p_df(_dict, 'specificity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.000000,0.009158,1.000000,1.000000,1.000000,1.000000,1.000000
b'KN',1.000000,-1.000000,0.009158,1.000000,1.000000,1.000000,1.000000,1.000000
b'LR',0.009158,0.009158,-1.000000,0.009158,0.208706,0.009158,0.009158,0.009158
b'ML',1.000000,1.000000,0.009158,-1.000000,1.000000,1.000000,1.000000,1.000000
b'NB',1.000000,1.000000,0.208706,1.000000,-1.000000,1.000000,1.000000,1.000000
b'RF',1.000000,1.000000,0.009158,1.000000,1.000000,-1.000000,1.000000,1.000000
b'SV',1.000000,1.000000,0.009158,1.000000,1.000000,1.000000,-1.000000,1.000000
b'XG',1.000000,1.000000,0.009158,1.000000,1.000000,1.000000,1.000000,-1.000000

#### Specificity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [670]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    **    NS    NS    NS    NS    NS
b'KN'    NS     -    **    NS    NS    NS    NS    NS
b'LR'    **    **     -    **    NS    **    **    **
b'ML'    NS    NS    **     -    NS    NS    NS    NS
b'NB'    NS    NS    NS    NS     -    NS    NS    NS
b'RF'    NS    NS    **    NS    NS     -    NS    NS
b'SV'    NS    NS    **    NS    NS    NS     -    NS
b'XG'    NS    NS    **    NS    NS    NS    NS     -

### LR+

In [671]:
p_df = get_p_df(_dict, 'LR_P')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.826311e-10,1.000000e+00,1.000000e+00,1.000000e+00
b'KN',1.000000e+00,-1.000000e+00,1.000000e+00,1.000000e+00,3.235183e-17,1.000000e+00,1.000000e+00,1.000000e+00
b'LR',1.000000e+00,1.000000e+00,-1.000000e+00,1.000000e+00,4.096304e-10,1.000000e+00,1.000000e+00,1.000000e+00
b'ML',1.000000e+00,1.000000e+00,1.000000e+00,-1.000000e+00,4.065302e-14,1.000000e+00,1.000000e+00,1.000000e+00
b'NB',1.826311e-10,3.235183e-17,4.096304e-10,4.065302e-14,-1.000000e+00,3.235183e-17,3.235183e-17,1.543902e-13
b'RF',1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.235183e-17,-1.000000e+00,1.000000e+00,1.000000e+00
b'SV',1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.235183e-17,1.000000e+00,-1.000000e+00,1.000000e+00
b'XG',1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.543902e-13,1.000000e+00,1.000000e+00,-1.000000e+00

#### LR+ Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [672]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS   ***    NS    NS    NS
b'KN'    NS     -    NS    NS   ***    NS    NS    NS
b'LR'    NS    NS     -    NS   ***    NS    NS    NS
b'ML'    NS    NS    NS     -   ***    NS    NS    NS
b'NB'   ***   ***   ***   ***     -   ***   ***   ***
b'RF'    NS    NS    NS    NS   ***     -    NS    NS
b'SV'    NS    NS    NS    NS   ***    NS     -    NS
b'XG'    NS    NS    NS    NS   ***    NS    NS     -

### LR-

In [673]:
p_df = get_p_df(_dict, 'LR_N')
p_df

/home/phnarloch/anaconda3/lib/python3.7/site-packages/scikit_posthocs/_posthocs.py:332: RuntimeWarning: divide by zero encountered in true_divide
  B = (1. / x_lens.loc[i] + 1. / x_lens.loc[j])

       b'DT'  b'KN'  b'LR'  b'ML'  b'NB'  b'RF'  b'SV'  b'XG'
b'DT'   -1.0    NaN    1.0    1.0    1.0    NaN    NaN    1.0
b'KN'    NaN   -1.0    NaN    NaN    NaN    NaN    NaN    NaN
b'LR'    1.0    NaN   -1.0    1.0    1.0    NaN    NaN    1.0
b'ML'    1.0    NaN    1.0   -1.0    1.0    NaN    NaN    1.0
b'NB'    1.0    NaN    1.0    1.0   -1.0    NaN    NaN    1.0
b'RF'    NaN    NaN    NaN    NaN    NaN   -1.0    NaN    NaN
b'SV'    NaN    NaN    NaN    NaN    NaN    NaN   -1.0    NaN
b'XG'    1.0    NaN    1.0    1.0    1.0    NaN    NaN   -1.0

#### LR- Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [674]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -   NaN    NS    NS    NS   NaN   NaN    NS
b'KN'   NaN     -   NaN   NaN   NaN   NaN   NaN   NaN
b'LR'    NS   NaN     -    NS    NS   NaN   NaN    NS
b'ML'    NS   NaN    NS     -    NS   NaN   NaN    NS
b'NB'    NS   NaN    NS    NS     -   NaN   NaN    NS
b'RF'   NaN   NaN   NaN   NaN   NaN     -   NaN   NaN
b'SV'   NaN   NaN   NaN   NaN   NaN   NaN     -   NaN
b'XG'    NS   NaN    NS    NS    NS   NaN   NaN     -

### DOR

In [675]:
p_df = get_p_df(_dict, 'DOR')
p_df

/home/phnarloch/anaconda3/lib/python3.7/site-packages/scikit_posthocs/_posthocs.py:332: RuntimeWarning: divide by zero encountered in true_divide
  B = (1. / x_lens.loc[i] + 1. / x_lens.loc[j])

       b'DT'  b'KN'  b'LR'  b'ML'  b'NB'  b'RF'  b'SV'  b'XG'
b'DT'   -1.0    NaN    1.0    1.0    1.0    NaN    NaN    1.0
b'KN'    NaN   -1.0    NaN    NaN    NaN    NaN    NaN    NaN
b'LR'    1.0    NaN   -1.0    1.0    1.0    NaN    NaN    1.0
b'ML'    1.0    NaN    1.0   -1.0    1.0    NaN    NaN    1.0
b'NB'    1.0    NaN    1.0    1.0   -1.0    NaN    NaN    1.0
b'RF'    NaN    NaN    NaN    NaN    NaN   -1.0    NaN    NaN
b'SV'    NaN    NaN    NaN    NaN    NaN    NaN   -1.0    NaN
b'XG'    1.0    NaN    1.0    1.0    1.0    NaN    NaN   -1.0

#### DOR Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [676]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -   NaN    NS    NS    NS   NaN   NaN    NS
b'KN'   NaN     -   NaN   NaN   NaN   NaN   NaN   NaN
b'LR'    NS   NaN     -    NS    NS   NaN   NaN    NS
b'ML'    NS   NaN    NS     -    NS   NaN   NaN    NS
b'NB'    NS   NaN    NS    NS     -   NaN   NaN    NS
b'RF'   NaN   NaN   NaN   NaN   NaN     -   NaN   NaN
b'SV'   NaN   NaN   NaN   NaN   NaN   NaN     -   NaN
b'XG'    NS   NaN    NS    NS    NS   NaN   NaN     -

## ROS

### F1-Score

In [677]:
_dict = get_dict('ROS')
p_df = get_p_df(_dict, 'f1_score')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.000000e+00,8.204870e-11,1.000000e+00,1.429199e-07,1.000000e+00,2.790543e-10,1.000000e+00
b'KN',1.000000e+00,-1.000000e+00,2.267943e-10,1.000000e+00,3.364838e-07,1.000000e+00,7.525831e-10,1.000000e+00
b'LR',8.204870e-11,2.267943e-10,-1.000000e+00,1.187908e-07,1.000000e+00,3.060290e-14,1.000000e+00,5.339947e-09
b'ML',1.000000e+00,1.000000e+00,1.187908e-07,-1.000000e+00,6.068603e-05,9.025596e-01,3.346519e-07,1.000000e+00
b'NB',1.429199e-07,3.364838e-07,1.000000e+00,6.068603e-05,-1.000000e+00,1.691807e-10,1.000000e+00,4.711766e-06
b'RF',1.000000e+00,1.000000e+00,3.060290e-14,9.025596e-01,1.691807e-10,-1.000000e+00,1.242534e-13,1.000000e+00
b'SV',2.790543e-10,7.525831e-10,1.000000e+00,3.346519e-07,1.000000e+00,1.242534e-13,-1.000000e+00,1.636106e-08
b'XG',1.000000e+00,1.000000e+00,5.339947e-09,1.000000e+00,4.711766e-06,1.000000e+00,1.636106e-08,-1.000000e+00

#### F1-Score Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [678]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS   ***    NS   ***    NS   ***    NS
b'KN'    NS     -   ***    NS   ***    NS   ***    NS
b'LR'   ***   ***     -   ***    NS   ***    NS   ***
b'ML'    NS    NS   ***     -   ***    NS   ***    NS
b'NB'   ***   ***    NS   ***     -   ***    NS   ***
b'RF'    NS    NS   ***    NS   ***     -   ***    NS
b'SV'   ***   ***    NS   ***    NS   ***     -   ***
b'XG'    NS    NS   ***    NS   ***    NS   ***     -

### Sensitivity

In [679]:
p_df = get_p_df(_dict, 'sensitivity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.000000e+00,6.758031e-11,1.000000e+00,1.722660e-07,1.000000e+00,3.704051e-10,1.000000e+00
b'KN',1.000000e+00,-1.000000e+00,6.668679e-11,1.000000e+00,1.703591e-07,1.000000e+00,3.656696e-10,1.000000e+00
b'LR',6.758031e-11,6.668679e-11,-1.000000e+00,9.136364e-08,1.000000e+00,1.508933e-14,1.000000e+00,7.018031e-09
b'ML',1.000000e+00,1.000000e+00,9.136364e-08,-1.000000e+00,6.534997e-05,8.097095e-01,3.867972e-07,1.000000e+00
b'NB',1.722660e-07,1.703591e-07,1.000000e+00,6.534997e-05,-1.000000e+00,1.388714e-10,1.000000e+00,8.073094e-06
b'RF',1.000000e+00,1.000000e+00,1.508933e-14,8.097095e-01,1.388714e-10,-1.000000e+00,1.073205e-13,1.000000e+00
b'SV',3.704051e-10,3.656696e-10,1.000000e+00,3.867972e-07,1.000000e+00,1.073205e-13,-1.000000e+00,3.272485e-08
b'XG',1.000000e+00,1.000000e+00,7.018031e-09,1.000000e+00,8.073094e-06,1.000000e+00,3.272485e-08,-1.000000e+00

#### Sensitivity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [680]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS   ***    NS   ***    NS   ***    NS
b'KN'    NS     -   ***    NS   ***    NS   ***    NS
b'LR'   ***   ***     -   ***    NS   ***    NS   ***
b'ML'    NS    NS   ***     -   ***    NS   ***    NS
b'NB'   ***   ***    NS   ***     -   ***    NS   ***
b'RF'    NS    NS   ***    NS   ***     -   ***    NS
b'SV'   ***   ***    NS   ***    NS   ***     -   ***
b'XG'    NS    NS   ***    NS   ***    NS   ***     -

### Specificity

In [681]:
p_df = get_p_df(_dict, 'specificity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.000000e+00,1.358939e-07,1.000000,0.001445,1.000000e+00,2.211954e-06,1.000000
b'KN',1.000000e+00,-1.000000e+00,1.004056e-10,1.000000,0.000007,1.000000e+00,2.746134e-09,1.000000
b'LR',1.358939e-07,1.004056e-10,-1.000000e+00,0.000015,1.000000,4.436153e-08,1.000000e+00,0.000009
b'ML',1.000000e+00,1.000000e+00,1.511083e-05,-1.000000,0.037460,1.000000e+00,1.659999e-04,1.000000
b'NB',1.445076e-03,7.344352e-06,1.000000e+00,0.037460,-1.000000,6.496148e-04,1.000000e+00,0.027223
b'RF',1.000000e+00,1.000000e+00,4.436153e-08,1.000000,0.000650,-1.000000e+00,7.870919e-07,1.000000
b'SV',2.211954e-06,2.746134e-09,1.000000e+00,0.000166,1.000000,7.870919e-07,-1.000000e+00,0.000108
b'XG',1.000000e+00,1.000000e+00,9.393304e-06,1.000000,0.027223,1.000000e+00,1.076440e-04,-1.000000

#### Specificity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [682]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS   ***    NS    **    NS   ***    NS
b'KN'    NS     -   ***    NS   ***    NS   ***    NS
b'LR'   ***   ***     -   ***    NS   ***    NS   ***
b'ML'    NS    NS   ***     -     *    NS   ***    NS
b'NB'    **   ***    NS     *     -   ***    NS     *
b'RF'    NS    NS   ***    NS   ***     -   ***    NS
b'SV'   ***   ***    NS   ***    NS   ***     -   ***
b'XG'    NS    NS   ***    NS     *    NS   ***     -

### LR+

In [683]:
p_df = get_p_df(_dict, 'LR_P')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.000000e+00,4.110551e-04,1.000000,0.438209,1.000000,0.003882,1.000000
b'KN',1.000000,-1.000000e+00,8.244663e-07,1.000000,0.007990,1.000000,0.000014,1.000000
b'LR',0.000411,8.244663e-07,-1.000000e+00,0.003613,1.000000,0.003738,1.000000,0.003104
b'ML',1.000000,1.000000e+00,3.613402e-03,-1.000000,1.000000,1.000000,0.026553,1.000000
b'NB',0.438209,7.989900e-03,1.000000e+00,1.000000,-1.000000,1.000000,1.000000,1.000000
b'RF',1.000000,1.000000e+00,3.738290e-03,1.000000,1.000000,-1.000000,0.027358,1.000000
b'SV',0.003882,1.432826e-05,1.000000e+00,0.026553,1.000000,0.027358,-1.000000,0.023236
b'XG',1.000000,1.000000e+00,3.104422e-03,1.000000,1.000000,1.000000,0.023236,-1.000000

#### LR+ Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [684]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS   ***    NS    NS    NS    **    NS
b'KN'    NS     -   ***    NS    **    NS   ***    NS
b'LR'   ***   ***     -    **    NS    **    NS    **
b'ML'    NS    NS    **     -    NS    NS     *    NS
b'NB'    NS    **    NS    NS     -    NS    NS    NS
b'RF'    NS    NS    **    NS    NS     -     *    NS
b'SV'    **   ***    NS     *    NS     *     -     *
b'XG'    NS    NS    **    NS    NS    NS     *     -

### LR-

In [685]:
p_df = get_p_df(_dict, 'LR_N')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.000000,0.317446,1.000000,1.000000,1.000000,0.639638,1.000000
b'KN',1.000000,-1.000000,0.000272,0.807409,0.013683,1.000000,0.000879,0.362896
b'LR',0.317446,0.000272,-1.000000,0.706109,1.000000,0.193521,1.000000,1.000000
b'ML',1.000000,0.807409,0.706109,-1.000000,1.000000,1.000000,1.000000,1.000000
b'NB',1.000000,0.013683,1.000000,1.000000,-1.000000,1.000000,1.000000,1.000000
b'RF',1.000000,1.000000,0.193521,1.000000,1.000000,-1.000000,0.402892,1.000000
b'SV',0.639638,0.000879,1.000000,1.000000,1.000000,0.402892,-1.000000,1.000000
b'XG',1.000000,0.362896,1.000000,1.000000,1.000000,1.000000,1.000000,-1.000000

#### LR- Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [686]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS    NS    NS    NS    NS
b'KN'    NS     -   ***    NS     *    NS   ***    NS
b'LR'    NS   ***     -    NS    NS    NS    NS    NS
b'ML'    NS    NS    NS     -    NS    NS    NS    NS
b'NB'    NS     *    NS    NS     -    NS    NS    NS
b'RF'    NS    NS    NS    NS    NS     -    NS    NS
b'SV'    NS   ***    NS    NS    NS    NS     -    NS
b'XG'    NS    NS    NS    NS    NS    NS    NS     -

### DOR

In [687]:
p_df = get_p_df(_dict, 'DOR')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.000000,0.017349,1.000000,1.000000,1.000000,0.063377,1.000000
b'KN',1.000000,-1.000000,0.000012,1.000000,0.006177,1.000000,0.000080,0.865860
b'LR',0.017349,0.000012,-1.000000,0.074101,1.000000,0.018399,1.000000,0.104998
b'ML',1.000000,1.000000,0.074101,-1.000000,1.000000,1.000000,0.239117,1.000000
b'NB',1.000000,0.006177,1.000000,1.000000,-1.000000,1.000000,1.000000,1.000000
b'RF',1.000000,1.000000,0.018399,1.000000,1.000000,-1.000000,0.066071,1.000000
b'SV',0.063377,0.000080,1.000000,0.239117,1.000000,0.066071,-1.000000,0.326418
b'XG',1.000000,0.865860,0.104998,1.000000,1.000000,1.000000,0.326418,-1.000000

#### DOR Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [688]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS     *    NS    NS    NS    NS    NS
b'KN'    NS     -   ***    NS    **    NS   ***    NS
b'LR'     *   ***     -    NS    NS     *    NS    NS
b'ML'    NS    NS    NS     -    NS    NS    NS    NS
b'NB'    NS    **    NS    NS     -    NS    NS    NS
b'RF'    NS    NS     *    NS    NS     -    NS    NS
b'SV'    NS   ***    NS    NS    NS    NS     -    NS
b'XG'    NS    NS    NS    NS    NS    NS    NS     -

## RUS

### F1-Score

In [689]:
_dict = get_dict('RUS')
p_df = get_p_df(_dict, 'f1_score')
p_df

       b'DT'     b'KN'     b'LR'     b'ML'     b'NB'  b'RF'     b'SV'  b'XG'
b'DT'   -1.0  1.000000  1.000000  1.000000  1.000000    1.0  1.000000    1.0
b'KN'    1.0 -1.000000  0.005217  1.000000  1.000000    1.0  0.013641    1.0
b'LR'    1.0  0.005217 -1.000000  0.706114  0.229794    1.0  1.000000    1.0
b'ML'    1.0  1.000000  0.706114 -1.000000  1.000000    1.0  1.000000    1.0
b'NB'    1.0  1.000000  0.229794  1.000000 -1.000000    1.0  0.466325    1.0
b'RF'    1.0  1.000000  1.000000  1.000000  1.000000   -1.0  1.000000    1.0
b'SV'    1.0  0.013641  1.000000  1.000000  0.466325    1.0 -1.000000    1.0
b'XG'    1.0  1.000000  1.000000  1.000000  1.000000    1.0  1.000000   -1.0

#### F1-Score Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [690]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS    NS    NS    NS    NS
b'KN'    NS     -    **    NS    NS    NS     *    NS
b'LR'    NS    **     -    NS    NS    NS    NS    NS
b'ML'    NS    NS    NS     -    NS    NS    NS    NS
b'NB'    NS    NS    NS    NS     -    NS    NS    NS
b'RF'    NS    NS    NS    NS    NS     -    NS    NS
b'SV'    NS     *    NS    NS    NS    NS     -    NS
b'XG'    NS    NS    NS    NS    NS    NS    NS     -

### Sensitivity

In [691]:
p_df = get_p_df(_dict, 'sensitivity')
p_df

       b'DT'     b'KN'     b'LR'     b'ML'     b'NB'  b'RF'     b'SV'  b'XG'
b'DT'   -1.0  1.000000  1.000000  1.000000  1.000000    1.0  1.000000    1.0
b'KN'    1.0 -1.000000  0.007976  1.000000  1.000000    1.0  0.019001    1.0
b'LR'    1.0  0.007976 -1.000000  0.808052  0.237823    1.0  1.000000    1.0
b'ML'    1.0  1.000000  0.808052 -1.000000  1.000000    1.0  1.000000    1.0
b'NB'    1.0  1.000000  0.237823  1.000000 -1.000000    1.0  0.457611    1.0
b'RF'    1.0  1.000000  1.000000  1.000000  1.000000   -1.0  1.000000    1.0
b'SV'    1.0  0.019001  1.000000  1.000000  0.457611    1.0 -1.000000    1.0
b'XG'    1.0  1.000000  1.000000  1.000000  1.000000    1.0  1.000000   -1.0

#### Sensitivity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [692]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS    NS    NS    NS    NS
b'KN'    NS     -    **    NS    NS    NS     *    NS
b'LR'    NS    **     -    NS    NS    NS    NS    NS
b'ML'    NS    NS    NS     -    NS    NS    NS    NS
b'NB'    NS    NS    NS    NS     -    NS    NS    NS
b'RF'    NS    NS    NS    NS    NS     -    NS    NS
b'SV'    NS     *    NS    NS    NS    NS     -    NS
b'XG'    NS    NS    NS    NS    NS    NS    NS     -

### Specificity

In [693]:
p_df = get_p_df(_dict, 'specificity')
p_df

          b'DT'  b'KN'    b'LR'  b'ML'     b'NB'  b'RF'  b'SV'  b'XG'
b'DT' -1.000000    1.0  0.67689    1.0  0.096473    1.0    1.0    1.0
b'KN'  1.000000   -1.0  1.00000    1.0  1.000000    1.0    1.0    1.0
b'LR'  0.676890    1.0 -1.00000    1.0  1.000000    1.0    1.0    1.0
b'ML'  1.000000    1.0  1.00000   -1.0  1.000000    1.0    1.0    1.0
b'NB'  0.096473    1.0  1.00000    1.0 -1.000000    1.0    1.0    1.0
b'RF'  1.000000    1.0  1.00000    1.0  1.000000   -1.0    1.0    1.0
b'SV'  1.000000    1.0  1.00000    1.0  1.000000    1.0   -1.0    1.0
b'XG'  1.000000    1.0  1.00000    1.0  1.000000    1.0    1.0   -1.0

#### Specificity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [694]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS    NS    NS    NS    NS
b'KN'    NS     -    NS    NS    NS    NS    NS    NS
b'LR'    NS    NS     -    NS    NS    NS    NS    NS
b'ML'    NS    NS    NS     -    NS    NS    NS    NS
b'NB'    NS    NS    NS    NS     -    NS    NS    NS
b'RF'    NS    NS    NS    NS    NS     -    NS    NS
b'SV'    NS    NS    NS    NS    NS    NS     -    NS
b'XG'    NS    NS    NS    NS    NS    NS    NS     -

### LR+

In [695]:
p_df = get_p_df(_dict, 'LR_P')
p_df

          b'DT'     b'KN'     b'LR'  b'ML'     b'NB'  b'RF'  b'SV'  b'XG'
b'DT' -1.000000  1.000000  0.183790    1.0  0.096412    1.0    1.0    1.0
b'KN'  1.000000 -1.000000  0.425616    1.0  0.235941    1.0    1.0    1.0
b'LR'  0.183790  0.425616 -1.000000    1.0  1.000000    1.0    1.0    1.0
b'ML'  1.000000  1.000000  1.000000   -1.0  1.000000    1.0    1.0    1.0
b'NB'  0.096412  0.235941  1.000000    1.0 -1.000000    1.0    1.0    1.0
b'RF'  1.000000  1.000000  1.000000    1.0  1.000000   -1.0    1.0    1.0
b'SV'  1.000000  1.000000  1.000000    1.0  1.000000    1.0   -1.0    1.0
b'XG'  1.000000  1.000000  1.000000    1.0  1.000000    1.0    1.0   -1.0

#### LR+ Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [696]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS    NS    NS    NS    NS
b'KN'    NS     -    NS    NS    NS    NS    NS    NS
b'LR'    NS    NS     -    NS    NS    NS    NS    NS
b'ML'    NS    NS    NS     -    NS    NS    NS    NS
b'NB'    NS    NS    NS    NS     -    NS    NS    NS
b'RF'    NS    NS    NS    NS    NS     -    NS    NS
b'SV'    NS    NS    NS    NS    NS    NS     -    NS
b'XG'    NS    NS    NS    NS    NS    NS    NS     -

### LR-

In [697]:
p_df = get_p_df(_dict, 'LR_N')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.000000,0.006692,1.000000,0.528727,1.000000,0.225359,1.000000
b'KN',1.000000,-1.000000,0.000013,0.227434,0.005593,0.121012,0.001619,1.000000
b'LR',0.006692,0.000013,-1.000000,0.518063,1.000000,0.795398,1.000000,0.042712
b'ML',1.000000,0.227434,0.518063,-1.000000,1.000000,1.000000,1.000000,1.000000
b'NB',0.528727,0.005593,1.000000,1.000000,-1.000000,1.000000,1.000000,1.000000
b'RF',1.000000,0.121012,0.795398,1.000000,1.000000,-1.000000,1.000000,1.000000
b'SV',0.225359,0.001619,1.000000,1.000000,1.000000,1.000000,-1.000000,0.892317
b'XG',1.000000,1.000000,0.042712,1.000000,1.000000,1.000000,0.892317,-1.000000

#### LR- Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [698]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    **    NS    NS    NS    NS    NS
b'KN'    NS     -   ***    NS    **    NS    **    NS
b'LR'    **   ***     -    NS    NS    NS    NS     *
b'ML'    NS    NS    NS     -    NS    NS    NS    NS
b'NB'    NS    **    NS    NS     -    NS    NS    NS
b'RF'    NS    NS    NS    NS    NS     -    NS    NS
b'SV'    NS    **    NS    NS    NS    NS     -    NS
b'XG'    NS    NS     *    NS    NS    NS    NS     -

### DOR

In [699]:
p_df = get_p_df(_dict, 'DOR')
p_df

          b'DT'     b'KN'     b'LR'  b'ML'     b'NB'  b'RF'  b'SV'  b'XG'
b'DT' -1.000000  1.000000  0.198917    1.0  0.106773    1.0    1.0    1.0
b'KN'  1.000000 -1.000000  0.302530    1.0  0.166746    1.0    1.0    1.0
b'LR'  0.198917  0.302530 -1.000000    1.0  1.000000    1.0    1.0    1.0
b'ML'  1.000000  1.000000  1.000000   -1.0  1.000000    1.0    1.0    1.0
b'NB'  0.106773  0.166746  1.000000    1.0 -1.000000    1.0    1.0    1.0
b'RF'  1.000000  1.000000  1.000000    1.0  1.000000   -1.0    1.0    1.0
b'SV'  1.000000  1.000000  1.000000    1.0  1.000000    1.0   -1.0    1.0
b'XG'  1.000000  1.000000  1.000000    1.0  1.000000    1.0    1.0   -1.0

#### DOR Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [700]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS    NS    NS    NS    NS
b'KN'    NS     -    NS    NS    NS    NS    NS    NS
b'LR'    NS    NS     -    NS    NS    NS    NS    NS
b'ML'    NS    NS    NS     -    NS    NS    NS    NS
b'NB'    NS    NS    NS    NS     -    NS    NS    NS
b'RF'    NS    NS    NS    NS    NS     -    NS    NS
b'SV'    NS    NS    NS    NS    NS    NS     -    NS
b'XG'    NS    NS    NS    NS    NS    NS    NS     -

## SMOTE

### F1-Score

In [701]:
_dict = get_dict('SMOTE')
p_df = get_p_df(_dict, 'f1_score')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.862238e-02,1.061968e-06,2.050664e-01,3.963046e-02,1.000000e+00,1.273552e-05,1.000000e+00
b'KN',0.018622,-1.000000e+00,1.000000e+00,3.254993e-08,1.000000e+00,2.736326e-04,1.000000e+00,1.521627e-03
b'LR',0.000001,1.000000e+00,-1.000000e+00,7.817370e-15,5.868200e-01,1.984375e-09,1.000000e+00,2.418097e-08
b'ML',0.205066,3.254993e-08,7.817370e-15,-1.000000e+00,1.196546e-07,1.000000e+00,3.102630e-13,1.000000e+00
b'NB',0.039630,1.000000e+00,5.868200e-01,1.196546e-07,-1.000000e+00,7.148467e-04,1.000000e+00,3.676067e-03
b'RF',1.000000,2.736326e-04,1.984375e-09,1.000000e+00,7.148467e-04,-1.000000e+00,3.740774e-08,1.000000e+00
b'SV',0.000013,1.000000e+00,1.000000e+00,3.102630e-13,1.000000e+00,3.740774e-08,-1.000000e+00,3.838681e-07
b'XG',1.000000,1.521627e-03,2.418097e-08,1.000000e+00,3.676067e-03,1.000000e+00,3.838681e-07,-1.000000e+00

#### F1-Score Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [702]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -     *   ***    NS     *    NS   ***    NS
b'KN'     *     -    NS   ***    NS   ***    NS    **
b'LR'   ***    NS     -   ***    NS   ***    NS   ***
b'ML'    NS   ***   ***     -   ***    NS   ***    NS
b'NB'     *    NS    NS   ***     -   ***    NS    **
b'RF'    NS   ***   ***    NS   ***     -   ***    NS
b'SV'   ***    NS    NS   ***    NS   ***     -   ***
b'XG'    NS    **   ***    NS    **    NS   ***     -

### Sensitivity

In [703]:
p_df = get_p_df(_dict, 'sensitivity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,1.366069e-02,2.959397e-07,2.641213e-01,4.199876e-02,1.000000e+00,5.116504e-06,1.000000e+00
b'KN',1.366069e-02,-1.000000e+00,7.135111e-01,3.297045e-08,1.000000e+00,2.474463e-04,1.000000e+00,2.259593e-03
b'LR',2.959397e-07,7.135111e-01,-1.000000e+00,2.520058e-15,3.045445e-01,6.790049e-10,1.000000e+00,1.837155e-08
b'ML',2.641213e-01,3.297045e-08,2.520058e-15,-1.000000e+00,2.211125e-07,1.000000e+00,1.575427e-13,9.037562e-01
b'NB',4.199876e-02,1.000000e+00,3.045445e-01,2.211125e-07,-1.000000e+00,1.010476e-03,1.000000e+00,7.945588e-03
b'RF',1.000000e+00,2.474463e-04,6.790049e-10,1.000000e+00,1.010476e-03,-1.000000e+00,1.880943e-08,1.000000e+00
b'SV',5.116504e-06,1.000000e+00,1.000000e+00,1.575427e-13,1.000000e+00,1.880943e-08,-1.000000e+00,3.973046e-07
b'XG',1.000000e+00,2.259593e-03,1.837155e-08,9.037562e-01,7.945588e-03,1.000000e+00,3.973046e-07,-1.000000e+00

#### Sensitivity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [704]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -     *   ***    NS     *    NS   ***    NS
b'KN'     *     -    NS   ***    NS   ***    NS    **
b'LR'   ***    NS     -   ***    NS   ***    NS   ***
b'ML'    NS   ***   ***     -   ***    NS   ***    NS
b'NB'     *    NS    NS   ***     -    **    NS    **
b'RF'    NS   ***   ***    NS    **     -   ***    NS
b'SV'   ***    NS    NS   ***    NS   ***     -   ***
b'XG'    NS    **   ***    NS    **    NS   ***     -

### Specificity

In [705]:
p_df = get_p_df(_dict, 'specificity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000e+00,0.424936,4.774264e-08,1.000000e+00,1.000000,1.000000e+00,0.000189,1.000000
b'KN',4.249361e-01,-1.000000,9.064772e-03,9.525354e-02,1.000000,6.752527e-01,1.000000,1.000000
b'LR',4.774264e-08,0.009065,-1.000000e+00,1.911719e-09,0.000012,1.369838e-07,1.000000,0.000077
b'ML',1.000000e+00,0.095254,1.911719e-09,-1.000000e+00,1.000000,1.000000e+00,0.000016,1.000000
b'NB',1.000000e+00,1.000000,1.186466e-05,1.000000e+00,-1.000000,1.000000e+00,0.011378,1.000000
b'RF',1.000000e+00,0.675253,1.369838e-07,1.000000e+00,1.000000,-1.000000e+00,0.000420,1.000000
b'SV',1.888379e-04,1.000000,1.000000e+00,1.585916e-05,0.011378,4.199127e-04,-1.000000,0.043226
b'XG',1.000000e+00,1.000000,7.710321e-05,1.000000e+00,1.000000,1.000000e+00,0.043226,-1.000000

#### Specificity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [706]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS   ***    NS    NS    NS   ***    NS
b'KN'    NS     -    **    NS    NS    NS    NS    NS
b'LR'   ***    **     -   ***   ***   ***    NS   ***
b'ML'    NS    NS   ***     -    NS    NS   ***    NS
b'NB'    NS    NS   ***    NS     -    NS     *    NS
b'RF'    NS    NS   ***    NS    NS     -   ***    NS
b'SV'   ***    NS    NS   ***     *   ***     -     *
b'XG'    NS    NS   ***    NS    NS    NS     *     -

### LR+

In [707]:
p_df = get_p_df(_dict, 'LR_P')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.000000,0.000010,1.000000,1.000000,1.000000,0.024713,1.000000
b'KN',1.000000,-1.000000,0.005562,1.000000,1.000000,1.000000,1.000000,1.000000
b'LR',0.000010,0.005562,-1.000000,0.000596,0.000005,0.000293,1.000000,0.017935
b'ML',1.000000,1.000000,0.000596,-1.000000,1.000000,1.000000,0.361980,1.000000
b'NB',1.000000,1.000000,0.000005,1.000000,-1.000000,1.000000,0.014950,1.000000
b'RF',1.000000,1.000000,0.000293,1.000000,1.000000,-1.000000,0.230783,1.000000
b'SV',0.024713,1.000000,1.000000,0.361980,0.014950,0.230783,-1.000000,1.000000
b'XG',1.000000,1.000000,0.017935,1.000000,1.000000,1.000000,1.000000,-1.000000

#### LR+ Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [708]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS   ***    NS    NS    NS     *    NS
b'KN'    NS     -    **    NS    NS    NS    NS    NS
b'LR'   ***    **     -   ***   ***   ***    NS     *
b'ML'    NS    NS   ***     -    NS    NS    NS    NS
b'NB'    NS    NS   ***    NS     -    NS     *    NS
b'RF'    NS    NS   ***    NS    NS     -    NS    NS
b'SV'     *    NS    NS    NS     *    NS     -    NS
b'XG'    NS    NS     *    NS    NS    NS    NS     -

### LR-

In [709]:
p_df = get_p_df(_dict, 'LR_N')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.000000,0.003527,1.000000,1.000000,1.000000,0.280233,1.000000
b'KN',1.000000,-1.000000,0.568485,1.000000,1.000000,1.000000,1.000000,1.000000
b'LR',0.003527,0.568485,-1.000000,0.001456,0.008689,0.007824,1.000000,0.531483
b'ML',1.000000,1.000000,0.001456,-1.000000,1.000000,1.000000,0.148613,1.000000
b'NB',1.000000,1.000000,0.008689,1.000000,-1.000000,1.000000,0.528726,1.000000
b'RF',1.000000,1.000000,0.007824,1.000000,1.000000,-1.000000,0.491420,1.000000
b'SV',0.280233,1.000000,1.000000,0.148613,0.528726,0.491420,-1.000000,1.000000
b'XG',1.000000,1.000000,0.531483,1.000000,1.000000,1.000000,1.000000,-1.000000

#### LR- Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [710]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    **    NS    NS    NS    NS    NS
b'KN'    NS     -    NS    NS    NS    NS    NS    NS
b'LR'    **    NS     -    **    **    **    NS    NS
b'ML'    NS    NS    **     -    NS    NS    NS    NS
b'NB'    NS    NS    **    NS     -    NS    NS    NS
b'RF'    NS    NS    **    NS    NS     -    NS    NS
b'SV'    NS    NS    NS    NS    NS    NS     -    NS
b'XG'    NS    NS    NS    NS    NS    NS    NS     -

### DOR

In [711]:
p_df = get_p_df(_dict, 'DOR')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.000000,0.000102,1.000000,1.000000,1.000000,0.049990,1.000000
b'KN',1.000000,-1.000000,0.076376,1.000000,1.000000,1.000000,1.000000,1.000000
b'LR',0.000102,0.076376,-1.000000,0.000034,0.000567,0.000241,1.000000,0.040419
b'ML',1.000000,1.000000,0.000034,-1.000000,1.000000,1.000000,0.022743,1.000000
b'NB',1.000000,1.000000,0.000567,1.000000,-1.000000,1.000000,0.164521,1.000000
b'RF',1.000000,1.000000,0.000241,1.000000,1.000000,-1.000000,0.091415,1.000000
b'SV',0.049990,1.000000,1.000000,0.022743,0.164521,0.091415,-1.000000,1.000000
b'XG',1.000000,1.000000,0.040419,1.000000,1.000000,1.000000,1.000000,-1.000000

#### DOR Significance table.

Returns table that can be used in a publication. P values are replaced with astVerisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [712]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS   ***    NS    NS    NS     *    NS
b'KN'    NS     -    NS    NS    NS    NS    NS    NS
b'LR'   ***    NS     -   ***   ***   ***    NS     *
b'ML'    NS    NS   ***     -    NS    NS     *    NS
b'NB'    NS    NS   ***    NS     -    NS    NS    NS
b'RF'    NS    NS   ***    NS    NS     -    NS    NS
b'SV'     *    NS    NS     *    NS    NS     -    NS
b'XG'    NS    NS     *    NS    NS    NS    NS     -

## SMOTE-Tomek

### F1-Score

In [713]:
_dict = get_dict('SMOTETomek')
p_df = get_p_df(_dict, 'f1_score')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,0.006158,4.632434e-06,1.000000e+00,3.651396e-05,1.000000e+00,3.069437e-04,1.000000
b'KN',0.006158,-1.000000,1.000000e+00,5.358977e-06,1.000000e+00,3.186858e-05,1.000000e+00,0.074211
b'LR',0.000005,1.000000,-1.000000e+00,4.224258e-10,1.000000e+00,4.192041e-09,1.000000e+00,0.000154
b'ML',1.000000,0.000005,4.224258e-10,-1.000000e+00,5.962149e-09,1.000000e+00,9.588080e-08,0.774848
b'NB',0.000037,1.000000,1.000000e+00,5.962149e-09,-1.000000e+00,5.184709e-08,1.000000e+00,0.000932
b'RF',1.000000,0.000032,4.192041e-09,1.000000e+00,5.184709e-08,-1.000000e+00,7.196660e-07,1.000000
b'SV',0.000307,1.000000,1.000000e+00,9.588080e-08,1.000000e+00,7.196660e-07,-1.000000e+00,0.005850
b'XG',1.000000,0.074211,1.536907e-04,7.748481e-01,9.316576e-04,1.000000e+00,5.850310e-03,-1.000000

#### F1-Score Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [714]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    **   ***    NS   ***    NS   ***    NS
b'KN'    **     -    NS   ***    NS   ***    NS    NS
b'LR'   ***    NS     -   ***    NS   ***    NS   ***
b'ML'    NS   ***   ***     -   ***    NS   ***    NS
b'NB'   ***    NS    NS   ***     -   ***    NS   ***
b'RF'    NS   ***   ***    NS   ***     -   ***    NS
b'SV'   ***    NS    NS   ***    NS   ***     -    **
b'XG'    NS    NS   ***    NS   ***    NS    **     -

### Sensitivity

In [715]:
p_df = get_p_df(_dict, 'sensitivity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,0.009919,3.638406e-06,1.000000e+00,5.456561e-05,1.000000e+00,3.529580e-04,1.000000
b'KN',0.009919,-1.000000,1.000000e+00,5.339275e-06,1.000000e+00,7.833516e-05,1.000000e+00,0.147051
b'LR',0.000004,1.000000,-1.000000e+00,1.309134e-10,1.000000e+00,4.583160e-09,1.000000e+00,0.000192
b'ML',1.000000,0.000005,1.309134e-10,-1.000000e+00,4.500192e-09,1.000000e+00,5.423385e-08,0.438141
b'NB',0.000055,1.000000,1.000000e+00,4.500192e-09,-1.000000e+00,1.207181e-07,1.000000e+00,0.001947
b'RF',1.000000,0.000078,4.583160e-09,1.000000e+00,1.207181e-07,-1.000000e+00,1.191200e-06,1.000000
b'SV',0.000353,1.000000,1.000000e+00,5.423385e-08,1.000000e+00,1.191200e-06,-1.000000e+00,0.009403
b'XG',1.000000,0.147051,1.920051e-04,4.381412e-01,1.947492e-03,1.000000e+00,9.402657e-03,-1.000000

#### Sensitivity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [716]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    **   ***    NS   ***    NS   ***    NS
b'KN'    **     -    NS   ***    NS   ***    NS    NS
b'LR'   ***    NS     -   ***    NS   ***    NS   ***
b'ML'    NS   ***   ***     -   ***    NS   ***    NS
b'NB'   ***    NS    NS   ***     -   ***    NS    **
b'RF'    NS   ***   ***    NS   ***     -   ***    NS
b'SV'   ***    NS    NS   ***    NS   ***     -    **
b'XG'    NS    NS   ***    NS    **    NS    **     -

### Specificity

In [717]:
p_df = get_p_df(_dict, 'specificity')
p_df

,b'DT',b'KN',b'LR',b'ML',b'NB',b'RF',b'SV',b'XG'
b'DT',-1.000000,1.0,0.372947,1.000000,1.000000,1.000000,1.000000,1.00000
b'KN',1.000000,-1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000
b'LR',0.372947,1.0,-1.000000,0.003461,0.341386,0.828256,1.000000,1.00000
b'ML',1.000000,1.0,0.003461,-1.000000,1.000000,1.000000,0.197069,0.52923
b'NB',1.000000,1.0,0.341386,1.000000,-1.000000,1.000000,1.000000,1.00000
b'RF',1.000000,1.0,0.828256,1.000000,1.000000,-1.000000,1.000000,1.00000
b'SV',1.000000,1.0,1.000000,0.197069,1.000000,1.000000,-1.000000,1.00000
b'XG',1.000000,1.0,1.000000,0.529230,1.000000,1.000000,1.000000,-1.00000

#### Specificity Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [718]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS    NS    NS    NS    NS
b'KN'    NS     -    NS    NS    NS    NS    NS    NS
b'LR'    NS    NS     -    **    NS    NS    NS    NS
b'ML'    NS    NS    **     -    NS    NS    NS    NS
b'NB'    NS    NS    NS    NS     -    NS    NS    NS
b'RF'    NS    NS    NS    NS    NS     -    NS    NS
b'SV'    NS    NS    NS    NS    NS    NS     -    NS
b'XG'    NS    NS    NS    NS    NS    NS    NS     -

### LR+

In [719]:
p_df = get_p_df(_dict, 'LR_P')
p_df

       b'DT'  b'KN'     b'LR'  b'ML'     b'NB'     b'RF'  b'SV'     b'XG'
b'DT'   -1.0    1.0  1.000000    1.0  1.000000  1.000000    1.0  1.000000
b'KN'    1.0   -1.0  1.000000    1.0  1.000000  1.000000    1.0  1.000000
b'LR'    1.0    1.0 -1.000000    1.0  0.269538  1.000000    1.0  1.000000
b'ML'    1.0    1.0  1.000000   -1.0  1.000000  1.000000    1.0  1.000000
b'NB'    1.0    1.0  0.269538    1.0 -1.000000  0.455337    1.0  0.414225
b'RF'    1.0    1.0  1.000000    1.0  0.455337 -1.000000    1.0  1.000000
b'SV'    1.0    1.0  1.000000    1.0  1.000000  1.000000   -1.0  1.000000
b'XG'    1.0    1.0  1.000000    1.0  0.414225  1.000000    1.0 -1.000000

#### LR+ Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [720]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS    NS    NS    NS    NS
b'KN'    NS     -    NS    NS    NS    NS    NS    NS
b'LR'    NS    NS     -    NS    NS    NS    NS    NS
b'ML'    NS    NS    NS     -    NS    NS    NS    NS
b'NB'    NS    NS    NS    NS     -    NS    NS    NS
b'RF'    NS    NS    NS    NS    NS     -    NS    NS
b'SV'    NS    NS    NS    NS    NS    NS     -    NS
b'XG'    NS    NS    NS    NS    NS    NS    NS     -

### LR-

In [721]:
p_df = get_p_df(_dict, 'LR_N')
p_df

       b'DT'  b'KN'  b'LR'     b'ML'    b'NB'  b'RF'  b'SV'     b'XG'
b'DT'   -1.0    1.0    1.0  1.000000  1.00000    1.0    1.0  1.000000
b'KN'    1.0   -1.0    1.0  1.000000  1.00000    1.0    1.0  1.000000
b'LR'    1.0    1.0   -1.0  1.000000  1.00000    1.0    1.0  1.000000
b'ML'    1.0    1.0    1.0 -1.000000  1.00000    1.0    1.0  0.546892
b'NB'    1.0    1.0    1.0  1.000000 -1.00000    1.0    1.0  0.245850
b'RF'    1.0    1.0    1.0  1.000000  1.00000   -1.0    1.0  1.000000
b'SV'    1.0    1.0    1.0  1.000000  1.00000    1.0   -1.0  1.000000
b'XG'    1.0    1.0    1.0  0.546892  0.24585    1.0    1.0 -1.000000

#### LR- Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [722]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS    NS    NS    NS    NS
b'KN'    NS     -    NS    NS    NS    NS    NS    NS
b'LR'    NS    NS     -    NS    NS    NS    NS    NS
b'ML'    NS    NS    NS     -    NS    NS    NS    NS
b'NB'    NS    NS    NS    NS     -    NS    NS    NS
b'RF'    NS    NS    NS    NS    NS     -    NS    NS
b'SV'    NS    NS    NS    NS    NS    NS     -    NS
b'XG'    NS    NS    NS    NS    NS    NS    NS     -

### DOR

In [723]:
p_df = get_p_df(_dict, 'DOR')
p_df

       b'DT'  b'KN'  b'LR'    b'ML'     b'NB'  b'RF'  b'SV'     b'XG'
b'DT'   -1.0    1.0    1.0  1.00000  1.000000    1.0    1.0  1.000000
b'KN'    1.0   -1.0    1.0  1.00000  1.000000    1.0    1.0  1.000000
b'LR'    1.0    1.0   -1.0  1.00000  1.000000    1.0    1.0  1.000000
b'ML'    1.0    1.0    1.0 -1.00000  1.000000    1.0    1.0  0.855690
b'NB'    1.0    1.0    1.0  1.00000 -1.000000    1.0    1.0  0.376073
b'RF'    1.0    1.0    1.0  1.00000  1.000000   -1.0    1.0  1.000000
b'SV'    1.0    1.0    1.0  1.00000  1.000000    1.0   -1.0  1.000000
b'XG'    1.0    1.0    1.0  0.85569  0.376073    1.0    1.0 -1.000000

#### DOR Significance table.

Returns table that can be used in a publication. P values are replaced with asterisks: \* - p < 0.05, \*\* - p < 0.01, \*\*\* - p < 0.001.

In [724]:
ph.sign_table(p_df)

      b'DT' b'KN' b'LR' b'ML' b'NB' b'RF' b'SV' b'XG'
b'DT'     -    NS    NS    NS    NS    NS    NS    NS
b'KN'    NS     -    NS    NS    NS    NS    NS    NS
b'LR'    NS    NS     -    NS    NS    NS    NS    NS
b'ML'    NS    NS    NS     -    NS    NS    NS    NS
b'NB'    NS    NS    NS    NS     -    NS    NS    NS
b'RF'    NS    NS    NS    NS    NS     -    NS    NS
b'SV'    NS    NS    NS    NS    NS    NS     -    NS
b'XG'    NS    NS    NS    NS    NS    NS    NS     -